@media (max-width: 1024px) {
  @-webkit-keyframes nft-gradient-text {
    0% {
      background-position: -42.499vw;
    }
    70% {
      background-position: 44.499vw;
    }
    100% {
      background-position: 42.499vw;
    }
  }
  @keyframes nft-gradient-text {
    0% {
      background-position: -42.499vw;
    }
    70% {
      background-position: 44.499vw;
    }
    100% {
      background-position: 42.499vw;
    }
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 2.93vw;
    padding-right: 2.93vw;
  }
  body .wrapper .background {
    height: 75.911vw;
    top: 0;
    left: 0;
  }
  body .wrapper .background .main__smoke-buttom3 {
    width: 64.844vw;
    left: -13.477vw;
    top: 28.32vw;
    bottom: auto;
    -webkit-animation: main__smoke-buttom3-1024 30s linear infinite;
            animation: main__smoke-buttom3-1024 30s linear infinite;
    -webkit-transform: translate(-18.457vw, -6.641vw);
            transform: translate(-18.457vw, -6.641vw);
  }
  body .wrapper .background .main__smoke-top2 {
    top: -2.637vw;
    left: auto;
    right: -45.703vw;
    width: 54.395vw;
    -webkit-transform: translate(-13.574vw, 10.059vw);
            transform: translate(-13.574vw, 10.059vw);
  }
  body .wrapper .background .main__smoke-buttom2 {
    top: 0.977vw;
    left: 28.32vw;
    width: 88.867vw;
    -webkit-transform: translate(-18.262vw, 3.613vw);
            transform: translate(-18.262vw, 3.613vw);
  }
  body .wrapper .background .main__smoke-buttom {
    left: 41.699vw;
    top: -11.328vw;
    width: 92.578vw;
    -webkit-transform: translate(-14.941vw, 0.977vw);
            transform: translate(-14.941vw, 0.977vw);
  }
  body .wrapper .background .main__smoke-top {
    left: 62.5vw;
    top: -0.391vw;
    width: 54.688vw;
    -webkit-transform: translate(-24.414vw, 13.574vw);
            transform: translate(-24.414vw, 13.574vw);
  }
  body .wrapper .background .main__man {
    width: 139.648vw;
    top: 12.845vw;
    left: -0.625vw;
  }
  body .wrapper .background .purple-triangle {
    top: -7.324vw;
    left: 40.039vw;
    width: 50.781vw;
  }
  body .wrapper .background .blue-triangle {
    width: 36.67vw;
    top: 11.062vw;
    left: 47.122vw;
  }
  body .wrapper .background .city {
    width: 44.323vw;
    top: 9.18vw;
    left: 47.266vw;
  }
  body .wrapper .header {
    z-index: 11;
  }
  body .wrapper .header .header-name {
    position: fixed;
    top: 1.123vw;
    left: 7.227vw;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .wrapper .header .header-name.active strong {
    color: #fff;
  }
  body .wrapper .header .header-name strong {
    font-size: 1.66vw;
  }
  body .wrapper .header .header-name span {
    font-size: 1.465vw;
    color: #4e5465;
  }
  body .wrapper .header .header-inner {
    width: 100%;
    height: 5.859vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 0.098vw solid rgba(255, 255, 255, 0.15);
    padding: 0 1.465vw 0 0;
  }
  body .wrapper .header .header-inner:hover {
    width: 100% !important;
  }
  body .wrapper .header .header-inner .header-logo {
    height: 5.859vw;
    width: 5.859vw;
    border-bottom: 0;
  }
  body .wrapper .header .header-inner .header-logo img {
    width: 4.199vw;
  }
  body .wrapper .header .header-inner .header-button {
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    border-bottom: 0.098vw solid rgba(255, 255, 255, 0.15);
    gap: 0.586vw;
    width: 8.789vw;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    top: -1.465vw;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 5.859vw;
    height: 8.789vw;
  }
  body .wrapper .header .header-inner .header-button span {
    height: 2.93vw;
    width: 0.195vw;
  }
  body .wrapper .header .header-inner .header-button::after {
    -webkit-transition: 1s;
    transition: 1s;
  }
  body .wrapper .header .header-inner .header-button.active {
    border-color: #0342e7;
  }
  body .wrapper .header .header-inner .header-button.active::after {
    background: #0342e7 !important;
    -webkit-transition: 1s;
    transition: 1s;
  }
  body .wrapper .header .header-inner .header-button.active span {
    height: 2.93vw;
  }
  body .wrapper .header .header-inner .header-button.active span:first-child {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  body .wrapper .header .header-inner .header-button.active span:last-child {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  body .wrapper .header .header-inner .header-button:hover {
    gap: 0.208vw;
    border-color: #3a3a3a;
  }
  body .wrapper .header .header-inner .header-button:hover::after {
    background: none;
  }
  body .wrapper .header .header-inner .header-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 0 4.199vw 0 0;
    border-right: none;
    margin-left: auto;
    gap: 2.734vw;
  }
  body .wrapper .header .header-inner .header-list .header-list__item img {
    width: auto;
    max-width: 1.953vw;
    max-height: 1.66vw;
  }
  body .wrapper .header .header-inner:hover {
    width: 3.646vw;
  }
  body .wrapper .header .header-content {
    left: 0;
    top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 9.473vw 2.93vw 0 2.93vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
  body .wrapper .header .header-content.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  body .wrapper .header .header-content .header-content__inner {
    width: 100%;
    gap: 3.646vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .wrapper .header .header-content .header-content__inner .header-content__nav {
    margin: 1.875vw 19.043vw 0 0;
    gap: 2.441vw;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  body .wrapper .header .header-content .header-content__inner .header-content__nav a {
    font-size: 2.93vw;
    padding-left: 2.93vw;
  }
  body .wrapper .header .header-content .header-content__inner .header-content__nav a::before {
    padding-top: 0.521vw;
    padding-bottom: 0.208vw;
    width: 2.135vw;
    font-size: 1.172vw;
  }
  body .wrapper .header .header-content .header-content__inner .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.93vw;
  }
  body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item {
    padding: 2.539vw 0 0 2.832vw;
    width: 34.18vw;
  }
  body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item::before {
    width: 1.823vw;
    height: 1.823vw;
    border-top: 0.052vw solid #0b0b0c;
    border-left: 0.052vw solid #0b0b0c;
  }
  body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item strong {
    font-size: 1.953vw;
  }
  body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item p {
    font-size: 1.758vw;
    margin: 0.977vw 0 0 0;
  }
  body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item a {
    padding: 0 0 0.365vw 3.32vw;
    font-size: 1.953vw;
    background-size: 2.051vw auto;
    margin: 1.302vw 0 0 0;
  }
  body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item a span {
    padding-bottom: 0.26vw;
    border-bottom: 0.052vw solid rgba(203, 36, 255, 0.2);
  }
  body .wrapper .header .header-content .header-subscribe {
    right: 12.402vw;
    bottom: 0;
    gap: 3.542vw;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__plane {
    width: 48.633vw;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block {
    margin: 4.199vw 0 0 0;
    width: 36.133vw;
    height: 20.215vw;
    padding: 2.539vw 2.734vw 2.734vw 2.734vw;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block strong {
    font-size: 1.953vw;
    line-height: 2.539vw;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block span {
    margin: 0.488vw 0 0 0;
    font-size: 1.465vw;
    line-height: 1.855vw;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: left;
    font-size: 1.758vw;
    line-height: 2.148vw;
    margin: 0.977vw 0 0 0;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container {
    margin: 2.637vw 0 0 0;
    gap: 2.246vw;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container input {
    font-size: 1.563vw;
    line-height: 1.855vw;
    border-radius: 0;
    border-bottom: 0.098vw solid #fff;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container input::-webkit-input-placeholder {
    -webkit-transform: translateY(-0.488vw);
            transform: translateY(-0.488vw);
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container input:-ms-input-placeholder {
    transform: translateY(-0.488vw);
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container input::-ms-input-placeholder {
    transform: translateY(-0.488vw);
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container input::placeholder {
    -webkit-transform: translateY(-0.488vw);
            transform: translateY(-0.488vw);
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container button {
    width: 4.297vw;
    height: 4.297vw;
  }
  body .wrapper .header .header-content .header-subscribe .header-subscribe__block .form__container button img {
    width: 1.563vw;
  }
  body .wrapper .main {
    height: 72.559vw;
    padding: 19.043vw 2.93vw 0 2.93vw;
  }
  body .wrapper .main .main-info .main-info__text span {
    font-size: 2.441vw;
  }
  body .wrapper .main .main-info .main-info__text span::before {
    width: 2.148vw;
    height: 2.148vw;
  }
  body .wrapper .main .main-info .main-info__text span.main-first-span::before {
    left: 100%;
    top: -2.188vw;
    -webkit-transform: translateX(1.237vw);
            transform: translateX(1.237vw);
  }
  body .wrapper .main .main-info .main-info__text span.main-second-span {
    margin: 0.977vw 0 0 10.156vw;
  }
  body .wrapper .main .main-info .main-info__text span.main-second-span::before {
    left: -4.297vw;
    bottom: 0.781vw;
  }
  body .wrapper .main .main-info .main-info__text strong {
    font-size: 5.811vw;
  }
  body .wrapper .main .main-info .main-info__text b {
    font-size: 3.564vw;
    line-height: 3.646vw;
    margin-bottom: 1.354vw;
    background-position: -33.333vw;
  }
  body .wrapper .main .main-info .main-info__bottom {
    gap: 5.859vw;
    margin: 3.906vw 0 0 0;
  }
  body .wrapper .main .main-info .main-info__bottom p {
    font-size: 1.953vw;
  }
  body .wrapper .main .main-info .main-info__bottom button {
    font-size: 1.074vw;
    width: 13.672vw;
    height: 13.672vw;
  }
  body .wrapper .main .main-info .main-info__bottom button::before {
    width: 16.198vw;
    height: 9.948vw;
    left: -3.333vw;
    top: -3.135vw;
    -webkit-animation: main-button-1-1024 4s linear infinite;
            animation: main-button-1-1024 4s linear infinite;
  }
  body .wrapper .main .main-info .main-info__bottom button::after {
    width: 7.24vw;
    height: 7.24vw;
    top: 1.563vw;
    left: -0.885vw;
    -webkit-animation: main-button-2-1024 4s linear infinite;
            animation: main-button-2-1024 4s linear infinite;
  }
  body .wrapper .main .main-info .main-info__bottom button span {
    font-size: 1.074vw;
  }
  body .wrapper .main .main-info .main-info__bottom button img {
    width: 1.465vw;
    bottom: 2.93vw;
  }
  body .wrapper .about {
    padding: 4.395vw 2.93vw 14.531vw 2.93vw;
  }
  body .wrapper .about .about-text {
    font-size: 3.516vw;
    line-height: 4.199vw;
    max-width: 68.359vw;
    text-indent: 13.623vw;
  }
  body .wrapper .about .about__flex {
    margin: 8.594vw 0 0 16.895vw;
  }
  body .wrapper .about .about__flex .about-blocktext {
    padding: 0.977vw;
    font-size: 1.953vw;
    line-height: 2.734vw;
    max-width: 28.516vw;
  }
  body .wrapper .about .about__flex .about-blocktext::before {
    border: 0.098vw solid #fff;
    width: 2.197vw;
    height: 2.295vw;
    border-left: 0;
    border-bottom: 0;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  body .wrapper .about .about__flex .about-blocktext::after {
    border: 0.098vw solid #fff;
    width: 2.197vw;
    height: 2.295vw;
    border-right: 0;
    border-top: 0;
    top: auto;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  body .wrapper .about .about__flex .about-circle {
    margin: 0 8.789vw 0 0;
  }
  body .wrapper .about .about__flex .about-circle img {
    width: 13.867vw;
  }
  body .wrapper .about .about__flex .about-circle::before {
    width: 26.822vw;
    height: 26.822vw;
  }
  body .wrapper .about .about__flex .about-circle::after {
    width: 33.691vw;
    height: 33.691vw;
  }
  body .wrapper .process {
    padding: 5vw 0 9.766vw 0;
  }
  body .wrapper .process .process-container .process-parent {
    height: 49.414vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky {
    height: 49.414vw;
    position: static;
    gap: 0;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container {
    height: 100%;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .section-title {
    font-size: 3.711vw;
    line-height: 4.785vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item {
    top: 9.766vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container {
    -webkit-transform: translateX(-1.953vw);
            transform: translateX(-1.953vw);
    gap: 0.586vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container img {
    width: 8.789vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion {
    width: 27.344vw;
    padding: 2.246vw 2.344vw 0 0;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion h2 {
    font-size: 1.953vw;
    line-height: 2.93vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion p {
    margin: 0.879vw 0 0 0;
    font-size: 1.758vw;
    line-height: 2.539vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion::before {
    border-top: 0.098vw solid #ffffff;
    border-right: 0.098vw solid #ffffff;
    width: 2.197vw;
    height: 2.295vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow {
    display: block;
    width: 100% !important;
    height: 6.836vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow::after {
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
    width: 0.879vw;
    height: 1.758vw;
    background-size: 0.879vw 1.758vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow::before {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "swipe ...";
    font-family: "Akzidenz-Grotesk Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 1.172vw;
    line-height: 1.465vw;
    text-align: right;
    text-transform: uppercase;
    color: #4e5465;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .line {
    width: 99.9%;
    height: 0.098vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item {
    width: 10.742vw !important;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item.back .item__block .number {
    color: #cb24ff;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item.back .item__block .item__block-line .dotted-line {
    border-left: 0.098vw dashed #cb24ff;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item strong {
    opacity: 0;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block {
    width: 4.102vw;
    color: #cb24ff !important;
    -webkit-transform: translate(0.586vw, 0.586vw);
            transform: translate(0.586vw, 0.586vw);
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block .number {
    font-size: 1.172vw;
    line-height: 1.465vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block .item__block-line {
    padding: 0.391vw 0 1.563vw 0;
    width: 1.367vw;
    height: 100%;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block .item__block-line .dotted-line {
    width: 0.098vw;
    height: 100%;
    border-left: 0.098vw dashed #cb24ff;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__man {
    right: -11.23vw;
    top: -9.863vw;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__man .oval {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  body .wrapper .features {
    padding: 1.953vw 0 0 0;
    height: 97.633vw;
  }
  body .wrapper .features .features__title {
    font-size: 3.711vw;
    line-height: 4.785vw;
    left: 2.93vw;
    top: 3.027vw;
    z-index: 1;
  }
  body .wrapper .features .features__background-title {
    top: 1.953vw;
    right: 0.293vw;
    left: auto;
    font-size: 14.355vw;
    line-height: 18.359vw;
  }
  body .wrapper .features .features__wrapper-circle {
    z-index: 2;
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle {
    padding: 0.488vw 0 0 2.93vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 21.289vw;
    gap: 0.586vw;
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle:hover {
    padding-right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 32.422vw;
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle:hover .features-circle {
    width: 12.305vw;
    height: 12.305vw;
    left: -3.125vw;
    top: -4.883vw;
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle:hover h3 {
    font-size: 1.758vw;
    line-height: 2.246vw;
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle:hover p {
    font-size: 1.758vw;
    line-height: 2.539vw;
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle .features-circle {
    width: 4.297vw;
    height: 4.297vw;
    right: auto;
    left: 0;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle .features-arrow {
    width: 0.488vw;
    height: auto;
    margin: 0 0 0 1.465vw;
    -webkit-animation: features-arrow-mobile 1.7s linear infinite;
            animation: features-arrow-mobile 1.7s linear infinite;
  }
  body .wrapper .features .features__wrapper-circle .features__container-circle h3 {
    font-weight: 500;
    font-size: 1.465vw;
    line-height: 1.855vw;
  }
  body .wrapper .features .features-customization {
    top: 29.98vw;
    left: 6.348vw;
  }
  body .wrapper .features .features-control {
    top: 54.101vw;
    left: 6.348vw;
  }
  body .wrapper .features .features-utility {
    left: 6.348vw;
    top: 41.992vw;
  }
  body .wrapper .features .features-creativity {
    left: 68.652vw;
    top: 5.957vw;
  }
  body .wrapper .features .features-redeem {
    left: 68.652vw;
    top: 17.969vw;
  }
  body .wrapper .features .features-service {
    top: 17.969vw;
    left: 41.211vw;
  }
  body .wrapper .features .features-royalties {
    top: 66.113vw;
    left: 6.348vw;
  }
  body .wrapper .features .features-streams {
    top: 29.98vw;
    left: 41.211vw;
  }
  body .wrapper .features .features__slider {
    right: 2.93vw;
    top: 41.797vw;
    width: 55.859vw;
    height: 44.629vw;
  }
  body .wrapper .features .features__slider .features__slider-container {
    height: 30.176vw;
  }
  body .wrapper .features .features__slider .features__slider-container::before {
    height: 30.176vw;
  }
  body .wrapper .features .features__slider .features__slider-container .slider-item img {
    width: 23.926vw;
  }
  body .wrapper .features .features__slider .features__slider-container .slider-item .slide-text {
    padding-left: 2.93vw;
    padding-right: 2.93vw;
    top: 20.605vw;
  }
  body .wrapper .features .features__slider .features__slider-container .slider-item .slide-text h3 {
    font-size: 1.953vw;
    line-height: 2.93vw;
  }
  body .wrapper .features .features__slider .features__slider-container .slider-item .slide-text p {
    font-size: 1.758vw;
    line-height: 2.539vw;
  }
  body .wrapper .features .features__slider .features__slider-container .slider-item.prev img {
    -webkit-animation: 1s features-slide-img-prev-mobile;
            animation: 1s features-slide-img-prev-mobile;
  }
  body .wrapper .features .features__slider .features__slider-container .slider-item.active-reverse img {
    -webkit-animation: 1s features-slide-img-active-reverse-mobile forwards;
            animation: 1s features-slide-img-active-reverse-mobile forwards;
  }
  body .wrapper .features .features__slider .slider__button {
    top: 2.637vw;
    left: 2.93vw;
    gap: 0.977vw;
  }
  body .wrapper .features .features__slider .slider__button .prev {
    width: 4.004vw;
    height: 4.004vw;
    border: 0.098vw solid #ffffff;
  }
  body .wrapper .features .features__slider .slider__button .prev:hover {
    border: 0.098vw solid #0342e7;
  }
  body .wrapper .features .features__slider .slider__button .prev img {
    width: 0.684vw;
    height: auto;
    -webkit-transform: rotate(180deg) translateX(0);
            transform: rotate(180deg) translateX(0);
  }
  body .wrapper .features .features__slider .slider__button .next {
    width: 4.004vw;
    height: 4.004vw;
    border: 0.098vw solid #ffffff;
  }
  body .wrapper .features .features__slider .slider__button .next:hover {
    border: 0.098vw solid #0342e7;
  }
  body .wrapper .features .features__slider .slider__button .next img {
    width: 0.684vw;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .wrapper .features .features__slider .slider__plagination {
    gap: 2.148vw;
    left: 2.93vw;
  }
  body .wrapper .features .features__slider .slider__plagination span {
    width: 0.098vw;
    height: 1.367vw;
  }
  body .wrapper .features .features__slider .slider__plagination span.active {
    width: 0.098vw;
    height: 2.637vw;
  }
  body .wrapper .vision {
    height: auto;
    padding: 9.766vw 0 2.441vw 0;
  }
  body .wrapper .vision .vision-line-tablet {
    display: block;
  }
  body .wrapper .vision .vision__sticky {
    position: relative;
    height: auto;
    overflow: visible;
  }
  body .wrapper .vision .vision__sticky .woman-head {
    width: 45.117vw;
    -webkit-transform: none;
            transform: none;
    right: 13.672vw;
    top: -9.766vw;
    left: auto;
  }
  body .wrapper .vision .vision__sticky .woman-head2 {
    width: 45.117vw;
    -webkit-transform: none;
            transform: none;
    right: 13.672vw;
    top: -9.766vw;
    left: auto;
  }
  body .wrapper .vision .vision__sticky .vision__content {
    padding: 0 2.93vw 0 4.199vw;
    height: auto;
    position: static;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .wrapper .vision .vision__sticky .vision__content h3 {
    font-size: 3.711vw;
    padding: 0;
    margin: 0 0 7.91vw -1.27vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision-line-tablet {
    position: relative;
    display: block;
    height: 152vw;
    width: 0.195vw;
    background: rgba(255, 255, 255, 0.1);
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision-line-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.195vw;
    max-height: 100% !important;
    background: #cb24ff;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item {
    position: absolute;
    left: 0.098vw;
    z-index: 9;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item img {
    width: 4.492vw;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item img:nth-child(1) {
    opacity: 1;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item img:nth-child(2) {
    opacity: 0;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item.active img:nth-child(1) {
    opacity: 0;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item.active img:nth-child(2) {
    opacity: 1;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item.active::after {
    opacity: 1;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 3.418vw;
    left: calc(100% + 1.953vw);
    height: 0.098vw;
    width: 8.789vw;
    background-image: url("/img/vision/dash-line.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8.789vw auto;
    opacity: 0.5;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item:nth-child(1) {
    top: 4.6vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item:nth-child(2) {
    top: 25.7vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item:nth-child(3) {
    top: 46.6vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item:nth-child(4) {
    top: 71vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item:nth-child(5) {
    top: 93.55vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item:nth-child(6) {
    top: 114.5vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item:nth-child(7) {
    top: 142.3vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item img {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 0 0 10.547vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet {
    width: 100%;
    height: 20.996vw;
    position: relative;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet:nth-child(3) {
    height: 24.414vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet:nth-child(4) {
    height: 24.902vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet:nth-child(5) {
    height: 18.555vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet:nth-child(5) span {
    -webkit-transform: translateY(-2.637vw);
            transform: translateY(-2.637vw);
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet:nth-child(5) strong {
    top: 4.395vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet:nth-child(6) {
    height: 27.855vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet span {
    top: -0.879vw;
    left: 11.914vw;
    font-size: 5.273vw;
    line-height: 1;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet strong {
    top: 6.836vw;
    left: 2.734vw;
    font-size: 1.953vw;
    z-index: 9;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet img {
    width: 9.766vw;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet.active strong {
    color: #fff;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision-line {
    display: none;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item {
    position: absolute;
    width: 100%;
    padding: 0 0 0 13.379vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item:nth-child(1) {
    top: 10.059vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item:nth-child(2) {
    top: 31.055vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item:nth-child(3) {
    top: 52.246vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item:nth-child(4) {
    top: 76.563vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item:nth-child(5) {
    top: 99.023vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item:nth-child(6) {
    top: 120.117vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item:nth-child(7) {
    top: 147.949vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item h4 {
    display: none;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item p {
    margin: 0;
    font-size: 1.758vw;
    line-height: 1.44;
  }
  body .wrapper .tokenomics {
    padding: 5vw 2.93vw 0 2.93vw;
    height: 97.656vw;
  }
  body .wrapper .tokenomics::after {
    width: 71.289vw;
    height: 76.262vw;
    background-size: 68.359vw auto;
    top: 25.141vw;
    left: -6.25vw;
  }
  body .wrapper .tokenomics .tokenomics__left-block #c2 {
    left: 0;
    top: 62.594vw;
    width: 100%;
    height: 17.09vw;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__title {
    font-size: 3.711vw;
    line-height: 4.785vw;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider {
    top: 64.5vw;
    left: 30.078vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2.051vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button {
    z-index: 10;
    gap: 0.977vw;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .prev {
    width: 4.004vw;
    height: 4.004vw;
    border: 0.098vw solid #ffffff;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .prev:hover {
    border: 0.098vw solid #0342e7;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .prev img {
    width: 0.684vw;
    height: auto;
    -webkit-transform: rotate(180deg) translateX(0);
            transform: rotate(180deg) translateX(0);
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .next {
    width: 4.004vw;
    height: 4.004vw;
    border: 0.098vw solid #ffffff;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .next:hover {
    border: 0.098vw solid #0342e7;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .next img {
    width: 0.684vw;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container {
    width: 67.871vw;
    height: 15.625vw;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item {
    width: 100%;
    height: 100%;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item h3 {
    font-size: 1.953vw;
    line-height: 2.93vw;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item p {
    margin: 2.344vw 0 0 0;
    font-size: 1.758vw;
    line-height: 2.539vw;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.active h3 {
    -webkit-animation: 1s tokenomics-slide-title-active-mobile forwards;
            animation: 1s tokenomics-slide-title-active-mobile forwards;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.prev h3 {
    -webkit-animation: 1s tokenomics-slide-title-prev-mobile forwards;
            animation: 1s tokenomics-slide-title-prev-mobile forwards;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.active-reverse h3 {
    -webkit-animation: 1s tokenomics-slide-title-prev-mobile forwards;
            animation: 1s tokenomics-slide-title-prev-mobile forwards;
  }
  body .wrapper .tokenomics .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.next h3 {
    -webkit-animation: 1s tokenomics-slide-title-next-mobile forwards;
            animation: 1s tokenomics-slide-title-next-mobile forwards;
  }
  body .wrapper .tokenomics .tokenomics__right-block {
    gap: 2.051vw;
    margin: 0;
    position: absolute;
    top: 14.766vw;
    left: 10.742vw;
  }
  body .wrapper .tokenomics .tokenomics__right-block .tokenomics__items-container {
    gap: 2.051vw;
  }
  body .wrapper .tokenomics .tokenomics__right-block .tokenomics__items-container .tokenomics__items {
    gap: 2.051vw;
  }
  body .wrapper .tokenomics .tokenomics__right-block .tokenomics__items-container .tokenomics__items h4 {
    font-size: 1.27vw;
    line-height: 1.66vw;
    -webkit-transform: translateY(0.293vw);
            transform: translateY(0.293vw);
  }
  body .wrapper .tokenomics .tokenomics__right-block .tokenomics__items-container .tokenomics__items span {
    font-size: 1.563vw;
    line-height: 1.953vw;
  }
  body .wrapper .tokenomics .tokenomics__right-block img {
    width: 40.82vw;
  }
  body .wrapper .tokenomics .tokenomics__right-block .tokenomics__background-title {
    font-size: 4.688vw;
    line-height: 5.957vw;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: -30.566vw;
    top: 16.602vw;
    bottom: auto;
  }
  body .wrapper .partners {
    padding: 4.883vw 2.93vw 16.9vw 2.93vw;
    grid-gap: 1.465vw;
    -ms-grid-rows: (8.301vw)[5];
        grid-template-rows: repeat(5, 8.301vw);
  }
  body .wrapper .partners .partners__title {
    font-size: 3.711vw;
    line-height: 4.785vw;
  }
  body .wrapper .partners .partners__descripcion {
    font-size: 1.66vw;
    line-height: 2.441vw;
    padding: 0 0 3.906vw 0;
  }
  body .wrapper .partners span {
    font-size: 1.66vw;
    line-height: 2.441vw;
    grid-column-end: 6;
  }
  body .wrapper .partners .partners__gris-item-strong {
    font-size: 1.367vw;
    line-height: 1.758vw;
  }
  body .wrapper .partners .partners__gris-item-strong img {
    width: 6.641vw;
    margin: 0 1.465vw 0 0;
  }
  body .wrapper .media-about .media-about_container h3 {
    font-size: 1.758vw;
    line-height: 3.32vw;
    -webkit-transform: translateY(-6.836vw);
            transform: translateY(-6.836vw);
  }
  body .wrapper .media-about .media-about_container h3::after {
    width: 0.098vw;
    height: 3.125vw;
    border-left: dashed 0.098vw white;
    -webkit-transform: translateY(0.391vw);
            transform: translateY(0.391vw);
  }
  body .wrapper .media-about .media-about_container::before {
    content: "swipe ...";
    font-family: "Akzidenz-Grotesk Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 1.172vw;
    line-height: 1.465vw;
    text-align: right;
    text-transform: uppercase;
    color: #4e5465;
    position: absolute;
    right: 2.93vw;
    top: 0;
    -webkit-transform: translateY(-2.93vw);
            transform: translateY(-2.93vw);
  }
  body .wrapper .media-about .media-about_container .media-about-slider {
    height: 15.137vw;
  }
  body .wrapper .media-about .media-about_container .media-about-slider .media-about-wrapper .media-about-slide {
    width: 17.656vw !important;
    margin-right: 1.465vw !important;
    height: 8.301vw;
  }
  body .wrapper .media-about .prev,
  body .wrapper .media-about .next {
    display: none;
  }
  body .wrapper .contacts {
    padding: 11.2vw 2.93vw 0 2.93vw;
  }
  body .wrapper .contacts .footer__background {
    width: 65.039vw;
    right: -9.277vw;
  }
  body .wrapper .contacts .contacts__title {
    font-size: 3.711vw;
    line-height: 4.785vw;
  }
  body .wrapper .contacts .footer-contact {
    margin: 4.395vw 0 0 0;
    gap: 3.76vw;
  }
  body .wrapper .contacts .footer-contact .footer-contact__item {
    padding: 2.734vw 0 0 2.734vw;
    width: 33.496vw;
  }
  body .wrapper .contacts .footer-contact .footer-contact__item::before {
    width: 1.758vw;
    height: 1.758vw;
    border-top: 0.098vw solid #ffffff;
    border-left: 0.098vw solid #ffffff;
  }
  body .wrapper .contacts .footer-contact .footer-contact__item strong {
    font-size: 1.953vw;
    line-height: 2.93vw;
  }
  body .wrapper .contacts .footer-contact .footer-contact__item p {
    font-size: 1.758vw;
    line-height: 2.539vw;
    margin: 0.977vw 0 0 0;
  }
  body .wrapper .contacts .footer-contact .footer-contact__item a {
    padding: 0 0 0.488vw 3.32vw;
    font-size: 1.953vw;
    line-height: 2.93vw;
    background-size: 2.051vw 1.367vw;
  }
  body .wrapper .contacts .footer-contact .footer-contact__item a:hover span {
    border-bottom: 0.098vw solid #cb24ff;
  }
  body .wrapper .contacts .footer-contact .footer-contact__item a span {
    line-height: 2.93vw;
    padding-bottom: 0.488vw;
    border-bottom: 0.098vw solid rgba(203, 36, 255, 0.2);
  }
  body .wrapper .contacts .foorer__container {
    margin: 6.836vw 0 0 0;
    padding: 0 0 0 2.734vw;
    gap: 8.691vw;
  }
  body .wrapper .contacts .foorer__container .footer-subscribe__linkblock span {
    font-size: 1.758vw;
    line-height: 2.539vw;
    max-width: 12.695vw;
  }
  body .wrapper .contacts .foorer__container .footer-subscribe__linkblock .footer-subscribe__link {
    width: 16.016vw;
    height: 16.016vw;
    border: 0.098vw solid #fff;
    font-size: 1.27vw;
    line-height: 1.66vw;
  }
  body .wrapper .contacts .foorer__container .footer-subscribe__linkblock .footer-subscribe__link::before {
    top: 3.418vw;
    left: 1.074vw;
    width: 6.934vw;
    height: 1.465vw;
    background-size: 6.934vw;
    background-repeat: no-repeat;
    background-position: center;
  }
  body .wrapper .contacts .foorer__container .footer-subscribe__linkblock .footer-subscribe__link svg {
    width: 1.494vw;
    height: auto;
    padding: 0.781vw;
    bottom: 2.344vw;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block {
    margin: 4.199vw 0 0 0;
    width: 36.133vw;
    height: 20.215vw;
    padding: 2.539vw 2.734vw 2.734vw 2.734vw;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block strong {
    font-size: 1.953vw;
    line-height: 2.539vw;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block span {
    margin: 0.488vw 0 0 0;
    font-size: 1.465vw;
    line-height: 1.855vw;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: left;
    font-size: 1.758vw;
    line-height: 2.148vw;
    margin: 0.977vw 0 0 0;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container {
    margin: 2.637vw 0 0 0;
    gap: 2.246vw;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container input {
    font-size: 1.563vw;
    line-height: 1.855vw;
    border-radius: 0;
    border-bottom: 0.098vw solid #fff;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container input::-webkit-input-placeholder {
    -webkit-transform: translateY(-0.488vw);
            transform: translateY(-0.488vw);
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container input:-ms-input-placeholder {
    transform: translateY(-0.488vw);
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container input::-ms-input-placeholder {
    transform: translateY(-0.488vw);
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container input::placeholder {
    -webkit-transform: translateY(-0.488vw);
            transform: translateY(-0.488vw);
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container button {
    width: 4.297vw;
    height: 4.297vw;
  }
  body .wrapper .contacts .foorer__container .header-subscribe__block .form__container button img {
    width: 1.563vw;
  }
}
/*# sourceMappingURL=1024.css.map */