@media only screen and (max-width:600px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  @keyframes nft-gradient-text {
    0% {
      background-position: -90.05vw;
    }
    70% {
      background-position: 90.512vw;
    }
    100% {
      background-position: 90.05vw;
    }
  }

  .container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  body {
    .header-content {
      left: 0;
      top: 0;
      overflow-y: scroll;
      .header-content__wrapper {
        flex-direction: column;
        gap: 12.8vw;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 23.2vw 4vw 0 4vw;
        height: auto;
        .header-content__inner {
          width: 100%;
          gap: 12vw;
          justify-content: flex-start;
          flex-direction: column;
          .header-content__nav {
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: 0;
            gap: 5.867vw;
            flex-grow: 0;
            border-bottom: 0.267vw solid rgba(0, 0, 0, 0.1);
            padding: 0 0 11.2vw 0;
            a {
              font-size: 7.467vw;
              padding-left: 8vw;
              &::before {
                padding-top: 1.423vw;
                padding-bottom: 0.568vw;
                width: 5.83vw;
                font-size: 3.2vw;
              }
            }
          }
          .header-contact {
            flex-direction: column;
            gap: 9.333vw;
            .header-contact__item {
              padding: 6.933vw 0 0 7.733vw;
              width: 93.333vw;
              &::before {
                width: 4.978vw;
                height: 4.978vw;
                border-top: 0.142vw solid #0b0b0c;
                border-left: 0.142vw solid #0b0b0c;
              }
              strong {
                font-size: 5.333vw;
              }
              p {
                font-size: 4.8vw;
                margin: 2.667vw 0 0 0;
              }
              a {
                padding: 0 0 0.997vw 9.067vw;
                font-size: 5.333vw;
                background-size: 5.6vw auto;
                margin: 3.555vw 0 0 0;
                span {
                  padding-bottom: 0.71vw;
                  border-bottom: 0.142vw solid rgba(203, 36, 255, 0.2);
                }
              }
            }
          }
        }
        .header-subscribe {
          position: static;
          width: 100%;
          gap: 9.672vw;
          .header-subscribe__plane {
            display: none;
          }
          .header-subscribe__block {
            margin: 0;
            width: 92vw;
            height: auto;
            padding: 6.933vw 7.467vw 7.467vw 7.467vw;
            strong {
              font-size: 5.333vw;
              line-height: 6.933vw;
            }
            span {
              margin: 1.333vw 0 0 0;
              font-size: 4vw;
              line-height: 5.067vw;
            }
            p {
              transform: translateY(0);
              text-align: left;
              font-size: 4.8vw;
              line-height: 5.867vw;
              margin: 3.2vw 0 0 0;
            }
            .form__container {
              margin: 7.2vw 0 0 0;
              gap: 7.2vw;
              input {
                font-size: 4.267vw;
                line-height: 5.067vw;
                border-radius: 0;
                border-bottom: 0.267vw solid #fff;
                &::placeholder {
                  transform: translateY(-1.333vw);
                }
              }
              button {
                width: 11.733vw;
                height: 11.733vw;
                img {
                  width: 4.267vw;
                }
              }
            }
          }
        }
      }
    }
    .wrapper {
      .preloader {
        .preloader__container {
          gap: 14.65px;
          svg {
            width: 54px;
          }
          .preloader__title {
            h2 {
              font-size: 21.3px;
              line-height: 27px;
            }
            span {
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
        .preloader-loading {
          width: 32px;
        }
      }
      .background {
        &::after {
          content: "";
          background: url("/img/main/background-blur.png");
          background-size: 100% 20vw;
          background-repeat: no-repeat;
          background-position: top center;
          position: absolute;
          width: 100vw;
          height: 19.733vw;
          left: 0;
          top: 0;
          z-index: 10;
        }

        height: 207.288vw;
        top: 0;
        left: 0;
        .main__smoke-buttom3 {
          width: 69.333vw;
          left: -55.167vw;
          top: 28vw;
          transform: translate(-10.667vw, 36.267vw);
          animation-duration: 20s;
        }
        .main__smoke-top2 {
          top: -4.833vw;
          left: 56.667vw;
          width: 82.333vw;
          transform: translate(-42.133vw, -6.067vw);
          animation-duration: 20s;
        }
        .main__smoke-buttom2 {
          top: 0;
          left: -10.667vw;
          width: 110vw;

          transform: translate(-40.8vw, 25.6vw);
          animation-duration: 20s;
        }
        .main__smoke-buttom {
          top: -14.167vw;
          left: 125vw;
          width: 115vw;
          transform: translate(-40.8vw, 17.067vw);
          animation-duration: 20s;
        }
        .main__smoke-top {
          left: 26vw;
          top: -2.5vw;
          width: 140.5vw;
          transform: translate(-40.8vw, 25.6vw);
          animation-duration: 20s;
        }
        .main__man {
          width: 245.333vw;
          top: 17.475vw;
          left: -69.973vw;
        }
        .purple-triangle {
          width: 92.2vw;
          top: -28.995vw;
          left: -0.267vw;
        }
        .blue-triangle {
          width: 62.867vw;
          top: 16.466vw;
          left: 14.4vw;
        }
        .city {
          width: 88.266vw;
          top: 8.533vw;
          left: 8.267vw;
        }
      }
      .header {
        height: 19.733vw;
        position: absolute;
        width: 100%;
        &.active {
          .header-inner {
            z-index: 999;
            .header-list {
              justify-content: space-between;
              transform: translate(0);
            }
          }
        }
        .header-name {
          position: absolute;
          display: flex;
          top: 3.5vw;
          left: 17.867vw;
          gap: 0;
          flex-direction: column;
          align-items: flex-start;
          &.active {
            strong {
              color: #fff;
            }
          }
          strong {
            font-size: 4.267vw;
          }
          span {
            font-size: 3.733vw;
          }
        }
        .header-inner {
          background: none;
          position: absolute;
          width: 100%;
          height: 13.333vw;
          flex-direction: row;
          border-bottom: 0;
          padding: 0 1.333vw 0 0;
          &:hover {
            width: 100% !important;
          }
          .header-logo {
            height: 13.333vw;
            width: 13.333vw;
            border-bottom: 0;
            img {
              width: 9.333vw;
            }
          }
          .header-button {
            position: fixed;
            flex-grow: initial;
            border-bottom: 0.267vw solid rgba(255, 255, 255, 0.15);
            gap: 1.6vw;
            width: 24vw;
            order: 3;
            top: -1.333vw;
            right: 1.333vw;
            transform: rotate(90deg);
            width: 13.333vw;
            height: 16vw;
            background: #0b0b0c;
            z-index: 9;
            span {
              height: 8vw;
              width: 0.533vw;
            }
            &::after {
              transition: width 0s linear, height 0.3s ease-out;
            }
            &.active {
              border-color: #0342e7;
              &::after {
                background: #0342e7 !important;
              }
              span {
                height: 8vw;
                &:first-child {
                  transform: rotateZ(-45deg);
                }
                &:last-child {
                  transform: rotateZ(45deg);
                }
              }
            }
            &:hover {
              gap: 0.568vw;
              border-color: #3a3a3a;
              &::after {
                background: none;
              }
            }
          }
          .header-list {
            transform: translate(-100%);
            display: flex;
            flex-direction: row;
            align-items: center;
            border-right: none;
            margin-left: auto;
            gap: 7.467vw;
            position: fixed;
            top: 0;
            z-index: 9;
            left: 0;
            height: 13.333vw;
            background: #000;
            width: calc(100% - 16vw);
            padding: 0 10.667vw;
            transition: 0.6s transform;
            z-index: 1;
            .header-list__item {
              img {
                width: 5.333vw;
                height: auto;
                max-width: none;
                max-height: none;
                &:nth-child(1) {
                  width: 5.333vw;
                }
              }
            }
          }
          &:hover {
            width: 9.956vw;
          }
        }
      }
      .main {
        height: 212.2vw;
        padding: 89.333vw 4vw 0 4vw;
        .main-info {
          .main-info__text {
            span {
              font-size: 5.333vw;
              &::before {
                width: 5.867vw;
                height: 5.867vw;
                border: 0.142vw solid #fff;
              }
              &.main-first-span {
                &::before {
                  left: 100%;
                  top: -5.973vw;
                  transform: translateX(3.379vw);
                }
              }
              &.main-second-span {
                margin: -0.267vw 0 0 22.4vw;
                &::before {
                  left: -9.333vw;
                  bottom: 1.6vw;
                }
              }
            }
            strong {
              font-size: 12.533vw;
              z-index: 9;
            }
            b {
              font-size: 7.733vw;
              line-height: 9.956vw;
              margin-bottom: 3.697vw;
              background-position: -91.021vw;
            }
          }
          .main-info__bottom {
            gap: 0;
            margin: 8.533vw 0 0 0;
            align-items: flex-start;
            p {
              font-size: 4.8vw;
              br {
                display: none;
              }
            }
            button {
              font-size: 2.933vw;
              width: 34.133vw;
              height: 34.133vw;
              margin: 8.533vw 0 0 0;
              &::before {
                width: 44.231vw;
                height: 27.165vw;
                left: -9.101vw;
                top: -8.561vw;
              }
              &::after {
                width: 19.77vw;
                height: 19.77vw;
                top: 4.268vw;
                left: -2.417vw;
              }
              span {
                font-size: 2.933vw;
              }
              img {
                width: 4vw;
                bottom: 8vw;
              }
            }
          }
        }
      }
      .about {
        .about__container {
          position: relative;
          padding: 8vw 4vw 30.667vw 4vw;
          .about-text {
            font-size: 8vw;
            line-height: 9.6vw;
            max-width: 67.2vw;
            text-indent: 0vw;
            margin-left: auto;
          }
          .about__flex {
            flex-direction: column;
            margin: 0;
            .about-blocktext {
              margin: 14.133vw 0 0 0;
              padding: 0;
              width: 81.867vw;
              max-width: 81.867vw;
              font-size: 4.8vw;
              line-height: 6.933vw;
              &::before {
                border: 0.267vw solid #fff;
                border-left: 0;
                border-bottom: 0;
                top: 0;
                right: 0;
                width: 4.667vw;
                height: 4.933vw;
              }
              &::after {
                border: 0.267vw solid #fff;
                width: 4.667vw;
                height: 4.933vw;
                border-right: 0;
                border-top: 0;
                left: 0vw;
                bottom: 0;
              }
            }
            .about-circle {
              position: absolute;
              margin: 0;
              top: 13.333vw;
              left: 8.8vw;
              img {
                width: 10.019vw;
              }
              &::before {
                width: 19.347vw;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .process {
        padding: 10.24vw 0 24vw 0;
        .process-container {
          height: 182.667vw;
          .process-parent {
            height: 178.667vw;
            .process-parent__sticky {
              height: 134.933vw;
              .process-parent__sticky-container {
                .section-title {
                  font-size: 8.533vw;
                  line-height: 10.933vw;
                  width: 66.667vw;
                }
                .process-parent__item {
                  top: 77.6vw;
                  .process-parent__container {
                    transform: translateX(-5.333vw);
                    gap: 1.6vw;
                    img {
                      width: 24vw;
                      margin: 1.333vw 0 0 0;
                    }
                    .process-parent__descripcion {
                      width: 71.733vw;
                      padding: 6.133vw 6.4vw 0 0;
                      h2 {
                        font-size: 5.333vw;
                        line-height: 8vw;
                      }
                      p {
                        margin: 2.4vw 0 0 0;
                        font-size: 4.533vw;
                        line-height: 6.667vw;
                      }
                      &::before {
                        border-top: 0.267vw solid #ffffff;
                        border-right: 0.267vw solid #ffffff;
                        width: 4.667vw;
                        height: 4.933vw;
                        right: 0vw;
                        top: 1.067vw;
                        left: auto;
                      }
                    }
                  }
                }
                .process__arrow {
                  bottom: -45.6vw;
                  height: 18.667vw;
                  &::after {
                    width: 2.4vw;
                    height: 4.8vw;
                    background-size: 2.4vw 4.8vw;
                  }
                  &::before {
                    font-size: 3.2vw;
                    line-height: 4vw;
                  }
                  .line {
                    height: 0.267vw;
                  }
                  .process__arrow-item {
                    width: 29.333vw !important;
                    &.back {
                      .item__block {
                        .item__block-line {
                          .dotted-line {
                            border-left: 0.267vw dashed #cb24ff;
                          }
                        }
                      }
                    }
                    .item__block {
                      width: 11.2vw;
                      transform: translate(1.6vw, 1.6vw);
                      .number {
                        font-size: 3.2vw;
                        line-height: 4vw;
                      }
                      .item__block-line {
                        padding: 1.067vw 0 4.267vw 0;
                        width: 3.733vw;
                        .dotted-line {
                          width: 0.267vw;
                          border-left: 0.267vw dashed #cb24ff;
                        }
                      }
                    }
                  }
                }
                .process__man {
                  right: 5.067vw;
                  top: -115.2vw;
                  transform: scale(2);
                  .oval {
                    transform: scale(1);
                  }
                }
              }
            }
          }
        }
      }
      .features {
        overflow: hidden;
        width: 100%;
        // padding: 2.4vw 0 0 0;
        // height: 462.667vw;
        .features__container {
          padding: 2.4vw 0 0 0;
          height: 462.667vw;
          .features__title {
            font-size: 8.533vw;
            line-height: 10.933vw;
            left: 4vw;
            top: 3.2vw;
          }
          .features__background-title {
            top: 81vw;
            left: auto;
            right: -83.467vw;
            transform: rotate(-90deg);
            font-size: 29.333vw;
            line-height: 50.133vw;
          }
          .features__wrapper-circle {
            .features__container-circle {
              padding: 1.333vw 0 0 8vw;
              width: 58.133vw;
              gap: 1.6vw;
              &:hover {
                padding-right: 0;
                transform: translateX(0);
                width: 88.533vw;
                .features-circle {
                  width: 33.6vw;
                  height: 33.6vw;
                  left: -8.533vw;
                  top: -13.333vw;
                }
                h3 {
                  font-size: 4.8vw;
                  line-height: 6.133vw;
                }
                p {
                  font-size: 4.8vw;
                  line-height: 6.933vw;
                }
              }
              .features-circle {
                width: 11.733vw;
                height: 11.733vw;
                transform: rotate(-70deg);
              }
              .features-arrow {
                width: 1.333vw;
                margin: 0 0 0 4vw;
              }
              h3 {
                font-weight: 500;
                font-size: 4vw;
                line-height: 5.067vw;
              }
            }
          }
          .features-customization {
            top: 34.666vw;
            left: 4vw;
          }
          .features-control {
            top: 66.666vw;
            left: 18.667vw;
          }
          .features-utility {
            top: 98.666vw;
            left: 4vw;
          }
          .features-creativity {
            top: 130.666vw;
            left: 18.667vw;
          }
          .features-redeem {
            top: 194.666vw;
            left: 18.667vw;
          }
          .features-service {
            top: 162.666vw;
            left: 4vw;
          }
          .features-royalties {
            top: 226.666vw;
            left: 4vw;
          }
          .features-streams {
            top: 258.666vw;
            left: 18.667vw;
          }
          .features__slider {
            top: 293.333vw;
          }
          .features__slider {
            width: 96vw;
            right: 0;
            left: auto;
            transform: translate(0);
            height: 140.267vw;
            .features__slider-container {
              height: 82.4vw;
              &::before {
                height: 88vw;
              }
              .slider-item {
                img {
                  width: 65.333vw;
                }
                .slide-text {
                  width: 96.533vw;
                  top: 57.333vw;
                  padding-left: 5.333vw;
                  padding-right: 5.333vw;
                  h3 {
                    font-size: 5.333vw;
                    line-height: 8vw;
                  }
                  p {
                    font-size: 4.533vw;
                    line-height: 6.667vw;
                  }
                }
              }
              &.active {
                .slide-text {
                  animation: 1s features-slide-text-active forwards;
                }
              }
              &.prev {
                img {
                  animation: 1s features-slide-img-prev-mobile;
                }
              }
              &.active-reverse {
                img {
                  animation: 1s features-slide-img-active-reverse-mobile
                    forwards;
                }
              }
              &.next {
                .slide-text {
                  animation: 1s features-slide-text-next forwards;
                }
              }
            }
            .slider__button {
              top: 5.333vw;
              left: 5.333vw;
              gap: 2.667vw;
              .prev {
                width: 10.933vw;
                height: 10.933vw;
                border: 0.267vw solid #ffffff;
                &:hover {
                  border: 0.267vw solid #0342e7;
                }
                img {
                  width: 1.867vw;
                  height: auto;
                  transform: rotate(180deg) translateX(0);
                }
              }
              .next {
                width: 10.933vw;
                height: 10.933vw;
                border: 0.267vw solid #ffffff;
                &:hover {
                  border: 0.267vw solid #0342e7;
                }
                img {
                  width: 1.867vw;
                  height: auto;
                  transform: translateX(0);
                }
              }
            }
            .slider__plagination {
              right: auto;
              left: 5.333vw;
              gap: 5.333vw;
              span {
                width: 0.267vw;
                height: 3.733vw;
                &.active {
                  width: 0.267vw;
                  height: 7.2vw;
                }
              }
            }
          }
        }
      }
      .vision {
        height: auto;
        padding: 13vw 0 21.333vw 0;
        .vision__sticky {
          .woman-head {
            width: 99.2vw;
            right: -24vw;
            top: -12vw;
          }
          .woman-head2 {
            width: 99.2vw;
            right: -24vw;
            top: -12vw;
          }
          .vision__content {
            padding: 0 4vw 0 10.667vw;
            h3 {
              display: block;
              white-space: break-spaces;
              width: 61.333vw;
              font-size: 8.533vw;
              margin: 0 0 21.6vw -3.467vw;
            }
            .container__stage {
              .vision-line-tablet {
                height: 608.267vw;
                width: 0.267vw;
              }
              .vision-line-progress {
                top: 0;
                left: 0;
              }
              .triangle-item {
                img {
                  width: 12.267vw;
                }
                &::after {
                  top: 9.333vw;
                  left: calc(100% + 4vw);
                  height: 0.267vw;
                  width: 6.667vw;
                  background-size: 16vw auto;
                  z-index: -1;
                }
                &:nth-child(1) {
                  top: 13.867vw;
                }
                &:nth-child(2) {
                  top: 88.533vw;
                }
                &:nth-child(3) {
                  top: 170.133vw;
                }
                &:nth-child(4) {
                  top: 265.867vw;
                }
                &:nth-child(5) {
                  top: 355.467vw;
                }
                &:nth-child(6) {
                  top: 440.533vw;
                }
                &:nth-child(7) {
                  top: 555.2vw;
                }
              }
              .planet-wrapper {
                padding: 0 0 0 9.333vw;
                .planet {
                  width: 100%;
                  height: 68vw;
                  &:nth-child(1) {
                    height: 77.333vw;
                  }
                  &:nth-child(2) {
                    height: 80vw;
                    strong {
                      top: 17.333vw;
                    }
                  }
                  &:nth-child(3) {
                    height: 94.667vw;
                    strong {
                      top: 18.667vw;
                      left: 3.733vw;
                    }
                  }
                  &:nth-child(4) {
                    height: 97.333vw;
                  }
                  &:nth-child(5) {
                    height: 77.333vw;
                    strong {
                      top: 12vw;
                    }
                  }
                  &:nth-child(6) {
                    height: 114.667vw;
                  }
                  span {
                    top: 3.467vw;
                    left: 30.667vw;
                    font-size: 14.4vw;
                    z-index: 9;
                  }
                  strong {
                    top: 20vw;
                    left: 3.733vw;
                    font-size: 5.333vw;
                  }
                  img {
                    width: 26.667vw;
                    top: 0;
                    left: 0;
                  }
                }
              }
              .vision__descripcion-container {
                padding: 0;
                .descripcion-item {
                  width: 100%;
                  padding: 0 0 0 12.267vw;
                  &:nth-child(1) {
                    top: 29.067vw;
                  }
                  &:nth-child(2) {
                    top: 104vw;
                  }
                  &:nth-child(3) {
                    top: 185.333vw;
                  }
                  &:nth-child(4) {
                    top: 281.067vw;
                  }
                  &:nth-child(5) {
                    top: 370.4vw;
                  }
                  &:nth-child(6) {
                    top: 456vw;
                  }
                  &:nth-child(7) {
                    top: 570.4vw;
                  }
                  p {
                    font-size: 4.533vw;
                  }
                }
              }
            }
          }
        }
      }
      .tokenomics {
        overflow: hidden;
        // padding: 9.6vw 4vw 0 4vw;
        // height: 288.667vw;
        .tokenomics__container {
          padding: 9.6vw 4vw 0 4vw;
          height: 288.667vw;
          &::after {
            background-image: url(../img/tokenomics/slider-bg-mobile.png);
            background-size: 105.6vw auto;
            left: -3.2vw;
            top: 79.2vw;
            width: 100vw;
            height: 162.667vw;
          }
          .tokenomics__left-block {
            #c2 {
              right: 0;
              left: auto;
              top: 157.867vw;
              width: 64vw;
              height: 100vw;
            }
            .tokenomics__title {
              font-size: 8.533vw;
              line-height: 10.933vw;
            }
            .tokenomics__slider {
              top: 159vw;
              flex-direction: row;
              left: 8.8vw;
              align-items: center;
              gap: 5.6vw;
              .tokenomics__slider__button {
                transform: translateY(26.667vw);
                gap: 2.667vw;
                .prev {
                  width: 10.933vw;
                  height: 10.933vw;
                  border: 0.267vw solid #ffffff;
                  &:hover {
                    border: 0.267vw solid #0342e7;
                  }
                  img {
                    width: 1.867vw;
                    height: auto;
                    transform: rotate(180deg) translateX(0);
                  }
                }
                .next {
                  width: 10.933vw;
                  height: 10.933vw;
                  border: 0.267vw solid #ffffff;
                  &:hover {
                    border: 0.267vw solid #0342e7;
                  }
                  img {
                    width: 1.867vw;
                    height: auto;
                    transform: translateX(0);
                  }
                }
              }
              .tokenomics__slider-item-container {
                width: 56.533vw;
                height: 83.2vw;
                .slider-item {
                  width: auto;
                  h3 {
                    font-size: 5.333vw;
                    line-height: 8vw;
                  }
                  p {
                    margin: 6.4vw 0 0 0;
                    font-size: 4.8vw;
                    line-height: 6.933vw;
                  }
                  &.active {
                    h3 {
                      animation: 1s tokenomics-slide-title-active forwards;
                    }
                  }
                  &.prev {
                    h3 {
                      animation: 1s tokenomics-slide-title-prev forwards;
                    }
                  }
                  &.active-reverse {
                    h3 {
                      animation: 1s tokenomics-slide-title-prev forwards;
                    }
                  }
                  &.next {
                    h3 {
                      animation: 1s tokenomics-slide-title-next forwards;
                    }
                  }
                }
              }
            }
          }
          .tokenomics__right-block {
            top: 29.733vw;
            left: -10.4vw;
            gap: 5.6vw;
            .tokenomics__items-container {
              gap: 5.6vw;
              .tokenomics__items {
                transform: translateX(2.133vw);
                gap: 3.2vw;
                h4 {
                  font-size: 3.2vw;
                  line-height: 4vw;
                  transform: translateY(0.8vw);
                }
                span {
                  font-size: 4vw;
                  line-height: 5.067vw;
                }
              }
            }
            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 98.667vw;
            }
            .tokenomics__background-title {
              transform: rotate(90deg);
              top: -6.4vw;
              left: 87.2vw;
              right: 0;
              font-size: 11.2vw;
              line-height: 14.4vw;
            }
          }
        }
      }
      .partners {
        padding: 0 4vw 19.667vw 4vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 18.667vw);
        grid-gap: 3.2vw;
        .partners__title {
          font-size: 8.533vw;
          line-height: 10.933vw;
          grid-row-start: 1;
          grid-row-end: 2;
          transform: translateY(4.267vw);
        }
        .partners__descripcion {
          display: none;
        }
        .partners__gris-item {
          &:nth-child(3) {
            grid-column-start: 1;
            grid-row-start: 2;
          }
          &:nth-child(4) {
            grid-column-start: 2;
            grid-row-start: 2;
          }
          &:nth-child(5) {
            grid-column-start: 3;
            grid-row-start: 2;
          }
          &:nth-child(6) {
            grid-column-start: 2;
            grid-row-start: 3;
          }
          &:nth-child(7) {
            grid-column-start: 3;
            grid-row-start: 3;
          }
          &:nth-child(8) {
            grid-column-start: 1;
            grid-row-start: 3;
          }
          &:nth-child(10) {
            grid-column-start: 1;
            grid-row-start: 4;
          }
          &:nth-child(11) {
            grid-column-start: 2;
            grid-row-start: 4;
          }
          &:nth-child(12) {
            grid-column-start: 3;
            grid-row-start: 4;
          }
          &:nth-child(13) {
            grid-column-start: 1;
            grid-row-start: 5;
          }
          &:nth-child(14) {
            grid-column-start: 2;
            grid-row-start: 5;
          }
          &:nth-child(15) {
            grid-column-start: 1;
            grid-row-start: 6;
          }
          &:nth-child(16) {
            grid-column-start: 3;
            grid-row-start: 5;
          }
          &:nth-child(18) {
            grid-column-start: 2;
            grid-row-start: 6;
          }
          &:nth-child(19) {
            grid-column-start: 3;
            grid-row-start: 6;
          }
        }
        span {
          display: none;
        }
        .partners__gris-item-strong {
          font-size: 3.733vw;
          line-height: 4.8vw;
          grid-column-start: 1;
          grid-row-start: 7;
          grid-column-end: 3;
          justify-self: end;
          align-self: start;
          transform: translateX(31.733vw);
          img {
            width: 18.133vw;
            margin: 0 2.667vw 0 0;
          }
        }
      }
      .media-about {
        .media-about_container {
          h3 {
            font-size: 4.533vw;
            line-height: 6.933vw;
            transform: translateY(-18.667vw);
            &::after {
              width: 0.267vw;
              height: 8.533vw;
              border-left: dashed 0.267vw white;
              transform: translateY(1.067vw);
            }
          }
          &::before {
            font-size: 3.2vw;
            line-height: 4vw;
            right: 4vw;
            transform: translateY(-8vw);
          }
          .media-about-slider {
            height: 28.267vw;
            .media-about-wrapper {
              .media-about-slide {
                width: 28.85vw !important;
                height: 13.867vw;
                margin-right: 2.667vw !important;
              }
            }
          }
        }
      }
      .contacts {
        .footer__background {
          width: 157.067vw;
          right: -45.333vw;
        }
        // padding: 22vw 4.267vw 0 4vw;
        .contacts__container {
          padding: 22vw 4.267vw 0 4vw;

          .contacts__title {
            font-size: 8.533vw;
            line-height: 10.933vw;
          }
          .footer-contact {
            margin: 10.667vw 0 0 0;
            flex-direction: column;
            gap: 10.667vw;
            .footer-contact__item {
              padding: 7.467vw 0 0 7.467vw;
              width: 91.467vw;
              &::before {
                width: 4.8vw;
                height: 4.8vw;
                border-top: 0.267vw solid #ffffff;
                border-left: 0.267vw solid #ffffff;
              }
              strong {
                font-size: 5.333vw;
                line-height: 8vw;
              }
              p {
                font-size: 4.533vw;
                line-height: 6.933vw;
                margin: 2.133vw 0 0 0;
              }
              a {
                padding: 0 0 1.333vw 9.067vw;
                font-size: 5.333vw;
                line-height: 8vw;
                background-size: 5.6vw 3.733vw;
                &:hover {
                  span {
                    border-bottom: 0.267vw solid #cb24ff;
                  }
                }
                span {
                  line-height: 8vw;
                  padding-bottom: 1.333vw;
                  border-bottom: 0.267vw solid rgba(203, 36, 255, 0.2);
                }
              }
            }
          }
          .foorer__container {
            margin: 16.533vw 0 0 0;
            padding: 0vw;
            .footer-subscribe__linkblock {
              span {
                width: 18.667vw;
                font-size: 4.533vw;
                line-height: 6.4vw;
              }
              .footer-subscribe__link {
                width: 34.133vw;
                height: 34.133vw;
                border: 0.267vw solid #fff;
                font-size: 3.2vw;
                line-height: 4vw;
                &::before {
                  top: 7.2vw;
                  left: 2.133vw;
                  width: 14.933vw;
                  height: 3.467vw;
                  background-size: 14.933vw;
                }
                svg {
                  width: 3.733vw;
                  height: auto;
                  padding: 1.6vw;
                  bottom: 5.067vw;
                }
              }
            }
            .header-subscribe__block {
              margin: 21.867vw 0 0 0;
              width: 92vw;
              height: 55.2vw;
              padding: 6.933vw 7.467vw 7.467vw 7.467vw;
              strong {
                font-size: 5.333vw;
                line-height: 6.933vw;
              }
              span {
                margin: 1.333vw 0 0 0;
                font-size: 4vw;
                line-height: 5.067vw;
              }
              p {
                transform: translateY(0);
                text-align: left;
                font-size: 4.8vw;
                line-height: 5.867vw;
                margin: 3.2vw 0 0 0;
              }
              .form__container {
                margin: 7.2vw 0 0 0;
                gap: 7.2vw;
                input {
                  font-size: 4.267vw;
                  line-height: 5.067vw;
                  border-radius: 0;
                  border-bottom: 0.267vw solid #fff;
                  &::placeholder {
                    transform: translateY(-1.333vw);
                  }
                }
                button {
                  width: 11.733vw;
                  height: 11.733vw;
                  img {
                    width: 4.267vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  canvas.touch {
    touch-action: none !important;
  }

  canvas#c3 {
    height: calc(100% + 50vw);
  }
}
