@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  @-webkit-keyframes nft-gradient-text {
    0% {
      background-position: -90.05vw;
    }
    70% {
      background-position: 90.512vw;
    }
    100% {
      background-position: 90.05vw;
    }
  }
  @keyframes nft-gradient-text {
    0% {
      background-position: -90.05vw;
    }
    70% {
      background-position: 90.512vw;
    }
    100% {
      background-position: 90.05vw;
    }
  }
  .container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  body .header-content {
    left: 0;
    top: 0;
    overflow-y: scroll;
  }
  body .header-content .header-content__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12.8vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 23.2vw 4vw 0 4vw;
    height: auto;
  }
  body .header-content .header-content__wrapper .header-content__inner {
    width: 100%;
    gap: 12vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-content__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    gap: 5.867vw;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    border-bottom: 0.267vw solid rgba(0, 0, 0, 0.1);
    padding: 0 0 11.2vw 0;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-content__nav a {
    font-size: 7.467vw;
    padding-left: 8vw;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-content__nav a::before {
    padding-top: 1.423vw;
    padding-bottom: 0.568vw;
    width: 5.83vw;
    font-size: 3.2vw;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 9.333vw;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-contact .header-contact__item {
    padding: 6.933vw 0 0 7.733vw;
    width: 93.333vw;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-contact .header-contact__item::before {
    width: 4.978vw;
    height: 4.978vw;
    border-top: 0.142vw solid #0b0b0c;
    border-left: 0.142vw solid #0b0b0c;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-contact .header-contact__item strong {
    font-size: 5.333vw;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-contact .header-contact__item p {
    font-size: 4.8vw;
    margin: 2.667vw 0 0 0;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-contact .header-contact__item a {
    padding: 0 0 0.997vw 9.067vw;
    font-size: 5.333vw;
    background-size: 5.6vw auto;
    margin: 3.555vw 0 0 0;
  }
  body .header-content .header-content__wrapper .header-content__inner .header-contact .header-contact__item a span {
    padding-bottom: 0.71vw;
    border-bottom: 0.142vw solid rgba(203, 36, 255, 0.2);
  }
  body .header-content .header-content__wrapper .header-subscribe {
    position: static;
    width: 100%;
    gap: 9.672vw;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__plane {
    display: none;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block {
    margin: 0;
    width: 92vw;
    height: auto;
    padding: 6.933vw 7.467vw 7.467vw 7.467vw;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block strong {
    font-size: 5.333vw;
    line-height: 6.933vw;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block span {
    margin: 1.333vw 0 0 0;
    font-size: 4vw;
    line-height: 5.067vw;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: left;
    font-size: 4.8vw;
    line-height: 5.867vw;
    margin: 3.2vw 0 0 0;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container {
    margin: 7.2vw 0 0 0;
    gap: 7.2vw;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container input {
    font-size: 4.267vw;
    line-height: 5.067vw;
    border-radius: 0;
    border-bottom: 0.267vw solid #fff;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container input::-webkit-input-placeholder {
    -webkit-transform: translateY(-1.333vw);
            transform: translateY(-1.333vw);
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container input:-ms-input-placeholder {
    transform: translateY(-1.333vw);
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container input::-ms-input-placeholder {
    transform: translateY(-1.333vw);
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container input::placeholder {
    -webkit-transform: translateY(-1.333vw);
            transform: translateY(-1.333vw);
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container button {
    width: 11.733vw;
    height: 11.733vw;
  }
  body .header-content .header-content__wrapper .header-subscribe .header-subscribe__block .form__container button img {
    width: 4.267vw;
  }
  body .wrapper .preloader .preloader__container {
    gap: 14.65px;
  }
  body .wrapper .preloader .preloader__container svg {
    width: 54px;
  }
  body .wrapper .preloader .preloader__container .preloader__title h2 {
    font-size: 21.3px;
    line-height: 27px;
  }
  body .wrapper .preloader .preloader__container .preloader__title span {
    font-size: 12px;
    line-height: 14px;
  }
  body .wrapper .preloader .preloader-loading {
    width: 32px;
  }
  body .wrapper .background {
    height: 207.288vw;
    top: 0;
    left: 0;
  }
  body .wrapper .background::after {
    content: "";
    background: url("/img/main/background-blur.png");
    background-size: 100% 20vw;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    width: 100vw;
    height: 19.733vw;
    left: 0;
    top: 0;
    z-index: 10;
  }
  body .wrapper .background .main__smoke-buttom3 {
    width: 69.333vw;
    left: -55.167vw;
    top: 28vw;
    -webkit-transform: translate(-10.667vw, 36.267vw);
            transform: translate(-10.667vw, 36.267vw);
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  body .wrapper .background .main__smoke-top2 {
    top: -4.833vw;
    left: 56.667vw;
    width: 82.333vw;
    -webkit-transform: translate(-42.133vw, -6.067vw);
            transform: translate(-42.133vw, -6.067vw);
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  body .wrapper .background .main__smoke-buttom2 {
    top: 0;
    left: -10.667vw;
    width: 110vw;
    -webkit-transform: translate(-40.8vw, 25.6vw);
            transform: translate(-40.8vw, 25.6vw);
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  body .wrapper .background .main__smoke-buttom {
    top: -14.167vw;
    left: 125vw;
    width: 115vw;
    -webkit-transform: translate(-40.8vw, 17.067vw);
            transform: translate(-40.8vw, 17.067vw);
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  body .wrapper .background .main__smoke-top {
    left: 26vw;
    top: -2.5vw;
    width: 140.5vw;
    -webkit-transform: translate(-40.8vw, 25.6vw);
            transform: translate(-40.8vw, 25.6vw);
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  body .wrapper .background .main__man {
    width: 245.333vw;
    top: 17.475vw;
    left: -69.973vw;
  }
  body .wrapper .background .purple-triangle {
    width: 92.2vw;
    top: -28.995vw;
    left: -0.267vw;
  }
  body .wrapper .background .blue-triangle {
    width: 62.867vw;
    top: 16.466vw;
    left: 14.4vw;
  }
  body .wrapper .background .city {
    width: 88.266vw;
    top: 8.533vw;
    left: 8.267vw;
  }
  body .wrapper .header {
    height: 19.733vw;
    position: absolute;
    width: 100%;
  }
  body .wrapper .header.active .header-inner {
    z-index: 999;
  }
  body .wrapper .header.active .header-inner .header-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  body .wrapper .header .header-name {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 3.5vw;
    left: 17.867vw;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .wrapper .header .header-name.active strong {
    color: #fff;
  }
  body .wrapper .header .header-name strong {
    font-size: 4.267vw;
  }
  body .wrapper .header .header-name span {
    font-size: 3.733vw;
  }
  body .wrapper .header .header-inner {
    background: none;
    position: absolute;
    width: 100%;
    height: 13.333vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 0;
    padding: 0 1.333vw 0 0;
  }
  body .wrapper .header .header-inner:hover {
    width: 100% !important;
  }
  body .wrapper .header .header-inner .header-logo {
    height: 13.333vw;
    width: 13.333vw;
    border-bottom: 0;
  }
  body .wrapper .header .header-inner .header-logo img {
    width: 9.333vw;
  }
  body .wrapper .header .header-inner .header-button {
    position: fixed;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    border-bottom: 0.267vw solid rgba(255, 255, 255, 0.15);
    gap: 1.6vw;
    width: 24vw;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    top: -1.333vw;
    right: 1.333vw;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 13.333vw;
    height: 16vw;
    background: #0b0b0c;
    z-index: 9;
  }
  body .wrapper .header .header-inner .header-button span {
    height: 8vw;
    width: 0.533vw;
  }
  body .wrapper .header .header-inner .header-button::after {
    -webkit-transition: width 0s linear, height 0.3s ease-out;
    transition: width 0s linear, height 0.3s ease-out;
  }
  body .wrapper .header .header-inner .header-button.active {
    border-color: #0342e7;
  }
  body .wrapper .header .header-inner .header-button.active::after {
    background: #0342e7 !important;
  }
  body .wrapper .header .header-inner .header-button.active span {
    height: 8vw;
  }
  body .wrapper .header .header-inner .header-button.active span:first-child {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  body .wrapper .header .header-inner .header-button.active span:last-child {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  body .wrapper .header .header-inner .header-button:hover {
    gap: 0.568vw;
    border-color: #3a3a3a;
  }
  body .wrapper .header .header-inner .header-button:hover::after {
    background: none;
  }
  body .wrapper .header .header-inner .header-list {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: none;
    margin-left: auto;
    gap: 7.467vw;
    position: fixed;
    top: 0;
    z-index: 9;
    left: 0;
    height: 13.333vw;
    background: #000;
    width: calc(100% - 16vw);
    padding: 0 10.667vw;
    -webkit-transition: 0.6s -webkit-transform;
    transition: 0.6s -webkit-transform;
    transition: 0.6s transform;
    transition: 0.6s transform, 0.6s -webkit-transform;
    z-index: 1;
  }
  body .wrapper .header .header-inner .header-list .header-list__item img {
    width: 5.333vw;
    height: auto;
    max-width: none;
    max-height: none;
  }
  body .wrapper .header .header-inner .header-list .header-list__item img:nth-child(1) {
    width: 5.333vw;
  }
  body .wrapper .header .header-inner:hover {
    width: 9.956vw;
  }
  body .wrapper .main {
    height: 212.2vw;
    padding: 89.333vw 4vw 0 4vw;
  }
  body .wrapper .main .main-info .main-info__text span {
    font-size: 5.333vw;
  }
  body .wrapper .main .main-info .main-info__text span::before {
    width: 5.867vw;
    height: 5.867vw;
    border: 0.142vw solid #fff;
  }
  body .wrapper .main .main-info .main-info__text span.main-first-span::before {
    left: 100%;
    top: -5.973vw;
    -webkit-transform: translateX(3.379vw);
            transform: translateX(3.379vw);
  }
  body .wrapper .main .main-info .main-info__text span.main-second-span {
    margin: -0.267vw 0 0 22.4vw;
  }
  body .wrapper .main .main-info .main-info__text span.main-second-span::before {
    left: -9.333vw;
    bottom: 1.6vw;
  }
  body .wrapper .main .main-info .main-info__text strong {
    font-size: 12.533vw;
    z-index: 9;
  }
  body .wrapper .main .main-info .main-info__text b {
    font-size: 7.733vw;
    line-height: 9.956vw;
    margin-bottom: 3.697vw;
    background-position: -91.021vw;
  }
  body .wrapper .main .main-info .main-info__bottom {
    gap: 0;
    margin: 8.533vw 0 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .wrapper .main .main-info .main-info__bottom p {
    font-size: 4.8vw;
  }
  body .wrapper .main .main-info .main-info__bottom p br {
    display: none;
  }
  body .wrapper .main .main-info .main-info__bottom button {
    font-size: 2.933vw;
    width: 34.133vw;
    height: 34.133vw;
    margin: 8.533vw 0 0 0;
  }
  body .wrapper .main .main-info .main-info__bottom button::before {
    width: 93.333vw;
    height: 72vw;
  }
  body .wrapper .main .main-info .main-info__bottom button::after {
    width: 48vw;
    height: 48vw;
  }
  body .wrapper .main .main-info .main-info__bottom button span {
    font-size: 2.933vw;
  }
  body .wrapper .main .main-info .main-info__bottom button img {
    width: 4vw;
    bottom: 8vw;
  }
  body .wrapper .about .about__container {
    position: relative;
    padding: 8vw 4vw 30.667vw 4vw;
  }
  body .wrapper .about .about__container .about-text {
    font-size: 8vw;
    line-height: 9.6vw;
    max-width: 67.2vw;
    text-indent: 0vw;
    margin-left: auto;
  }
  body .wrapper .about .about__container .about__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  body .wrapper .about .about__container .about__flex .about-blocktext {
    margin: 14.133vw 0 0 0;
    padding: 0;
    width: 81.867vw;
    max-width: 81.867vw;
    font-size: 4.8vw;
    line-height: 6.933vw;
  }
  body .wrapper .about .about__container .about__flex .about-blocktext::before {
    border: 0.267vw solid #fff;
    border-left: 0;
    border-bottom: 0;
    top: 0;
    right: 0;
    width: 4.667vw;
    height: 4.933vw;
  }
  body .wrapper .about .about__container .about__flex .about-blocktext::after {
    border: 0.267vw solid #fff;
    width: 4.667vw;
    height: 4.933vw;
    border-right: 0;
    border-top: 0;
    left: 0vw;
    bottom: 0;
  }
  body .wrapper .about .about__container .about__flex .about-circle {
    position: absolute;
    margin: 0;
    top: 13.333vw;
    left: 8.8vw;
  }
  body .wrapper .about .about__container .about__flex .about-circle img {
    width: 10.019vw;
  }
  body .wrapper .about .about__container .about__flex .about-circle::before {
    width: 19.347vw;
    height: 19.347vw;
  }
  body .wrapper .about .about__container .about__flex .about-circle::after {
    display: none;
  }
  body .wrapper .process {
    padding: 10.24vw 0 24vw 0;
  }
  body .wrapper .process .process-container {
    height: 182.667vw;
  }
  body .wrapper .process .process-container .process-parent {
    height: 178.667vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky {
    height: 134.933vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .section-title {
    font-size: 8.533vw;
    line-height: 10.933vw;
    width: 66.667vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item {
    top: 77.6vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container {
    -webkit-transform: translateX(-5.333vw);
            transform: translateX(-5.333vw);
    gap: 1.6vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container img {
    width: 24vw;
    margin: 1.333vw 0 0 0;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion {
    width: 71.733vw;
    padding: 6.133vw 6.4vw 0 0;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion h2 {
    font-size: 5.333vw;
    line-height: 8vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion p {
    margin: 2.4vw 0 0 0;
    font-size: 4.533vw;
    line-height: 6.667vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process-parent__item .process-parent__container .process-parent__descripcion::before {
    border-top: 0.267vw solid #ffffff;
    border-right: 0.267vw solid #ffffff;
    width: 4.667vw;
    height: 4.933vw;
    right: 0vw;
    top: 1.067vw;
    left: auto;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow {
    bottom: -45.6vw;
    height: 18.667vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow::after {
    width: 2.4vw;
    height: 4.8vw;
    background-size: 2.4vw 4.8vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow::before {
    font-size: 3.2vw;
    line-height: 4vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .line {
    height: 0.267vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item {
    width: 29.333vw !important;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item.back .item__block .item__block-line .dotted-line {
    border-left: 0.267vw dashed #cb24ff;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block {
    width: 11.2vw;
    -webkit-transform: translate(1.6vw, 1.6vw);
            transform: translate(1.6vw, 1.6vw);
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block .number {
    font-size: 3.2vw;
    line-height: 4vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block .item__block-line {
    padding: 1.067vw 0 4.267vw 0;
    width: 3.733vw;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__arrow .process__arrow-item .item__block .item__block-line .dotted-line {
    width: 0.267vw;
    border-left: 0.267vw dashed #cb24ff;
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__man {
    right: 5.067vw;
    top: -115.2vw;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  body .wrapper .process .process-container .process-parent .process-parent__sticky .process-parent__sticky-container .process__man .oval {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body .wrapper .features {
    overflow: hidden;
    width: 100%;
  }
  body .wrapper .features .features__container {
    padding: 2.4vw 0 0 0;
    height: 462.667vw;
  }
  body .wrapper .features .features__container .features__title {
    font-size: 8.533vw;
    line-height: 10.933vw;
    left: 4vw;
    top: 3.2vw;
  }
  body .wrapper .features .features__container .features__background-title {
    top: 81vw;
    left: auto;
    right: -83.467vw;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 29.333vw;
    line-height: 50.133vw;
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle {
    padding: 1.333vw 0 0 8vw;
    width: 63.133vw;
    gap: 1.6vw;
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle:hover {
    padding-right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 88.533vw;
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle:hover .features-circle {
    width: 33.6vw;
    height: 33.6vw;
    left: -8.533vw;
    top: -13.333vw;
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle:hover h3 {
    font-size: 4.8vw;
    line-height: 6.133vw;
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle:hover p {
    font-size: 4.8vw;
    line-height: 6.933vw;
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle .features-circle {
    width: 11.733vw;
    height: 11.733vw;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle .features-arrow {
    width: 1.333vw;
    margin: 0 0 0 4vw;
  }
  body .wrapper .features .features__container .features__wrapper-circle .features__container-circle h3 {
    font-weight: 500;
    font-size: 4vw;
    line-height: 5.067vw;
  }
  body .wrapper .features .features__container .features-customization {
    top: 34.666vw;
    left: 4vw;
  }
  body .wrapper .features .features__container .features-control {
    top: 98.666vw;
    left: 4vw;
  }
  body .wrapper .features .features__container .features-utility {
    top: 66.666vw;
    left: 18.667vw;
  }
  body .wrapper .features .features__container .features-creativity {
    top: 162.666vw;
    left: 4vw;
  }
  body .wrapper .features .features__container .features-redeem {
    top: 194.666vw;
    left: 18.667vw;
  }
  body .wrapper .features .features__container .features-service {
    top: 258.666vw;
    left: 18.667vw;
  }
  body .wrapper .features .features__container .features-royalties {
    top: 130.666vw;
    left: 18.667vw;
  }
  body .wrapper .features .features__container .features-streams {
    top: 226.666vw;
    left: 4vw;
  }
  body .wrapper .features .features__container .features__slider {
    top: 293.333vw;
  }
  body .wrapper .features .features__container .features__slider {
    width: 96vw;
    right: 0;
    left: auto;
    -webkit-transform: translate(0);
            transform: translate(0);
    height: 140.267vw;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container {
    height: 82.4vw;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container::before {
    height: 88vw;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container .slider-item img {
    width: 65.333vw;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container .slider-item .slide-text {
    width: 96.533vw;
    top: 57.333vw;
    padding-left: 5.333vw;
    padding-right: 5.333vw;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container .slider-item .slide-text h3 {
    font-size: 5.333vw;
    line-height: 8vw;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container .slider-item .slide-text p {
    font-size: 4.533vw;
    line-height: 6.667vw;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container.active .slide-text {
    -webkit-animation: 1s features-slide-text-active forwards;
            animation: 1s features-slide-text-active forwards;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container.prev img {
    -webkit-animation: 1s features-slide-img-prev-mobile;
            animation: 1s features-slide-img-prev-mobile;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container.active-reverse img {
    -webkit-animation: 1s features-slide-img-active-reverse-mobile forwards;
            animation: 1s features-slide-img-active-reverse-mobile forwards;
  }
  body .wrapper .features .features__container .features__slider .features__slider-container.next .slide-text {
    -webkit-animation: 1s features-slide-text-next forwards;
            animation: 1s features-slide-text-next forwards;
  }
  body .wrapper .features .features__container .features__slider .slider__button {
    top: 5.333vw;
    left: 5.333vw;
    gap: 2.667vw;
  }
  body .wrapper .features .features__container .features__slider .slider__button .prev {
    width: 10.933vw;
    height: 10.933vw;
    border: 0.267vw solid #ffffff;
  }
  body .wrapper .features .features__container .features__slider .slider__button .prev:hover {
    border: 0.267vw solid #0342e7;
  }
  body .wrapper .features .features__container .features__slider .slider__button .prev img {
    width: 1.867vw;
    height: auto;
    -webkit-transform: rotate(180deg) translateX(0);
            transform: rotate(180deg) translateX(0);
  }
  body .wrapper .features .features__container .features__slider .slider__button .next {
    width: 10.933vw;
    height: 10.933vw;
    border: 0.267vw solid #ffffff;
  }
  body .wrapper .features .features__container .features__slider .slider__button .next:hover {
    border: 0.267vw solid #0342e7;
  }
  body .wrapper .features .features__container .features__slider .slider__button .next img {
    width: 1.867vw;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .wrapper .features .features__container .features__slider .slider__plagination {
    right: auto;
    left: 5.333vw;
    gap: 5.333vw;
  }
  body .wrapper .features .features__container .features__slider .slider__plagination span {
    width: 0.267vw;
    height: 3.733vw;
  }
  body .wrapper .features .features__container .features__slider .slider__plagination span.active {
    width: 0.267vw;
    height: 7.2vw;
  }
  body .wrapper .vision {
    height: auto;
    padding: 13vw 0 21.333vw 0;
  }
  body .wrapper .vision .vision__sticky .woman-head {
    width: 99.2vw;
    right: -24vw;
    top: -12vw;
  }
  body .wrapper .vision .vision__sticky .woman-head2 {
    width: 99.2vw;
    right: -24vw;
    top: -12vw;
  }
  body .wrapper .vision .vision__sticky .vision__content {
    padding: 0 4vw 0 10.667vw;
  }
  body .wrapper .vision .vision__sticky .vision__content h3 {
    display: block;
    white-space: break-spaces;
    width: 61.333vw;
    font-size: 8.533vw;
    margin: 0 0 21.6vw -3.467vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision-line-tablet {
    height: 605.5vw;
    width: 0.533vw;
    gap: 10.273vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision-line-progress {
    top: 0;
    left: 0;
    width: 0.533vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item {
    top: -1.333vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item img {
    width: 12.267vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .triangle-item::after {
    top: 22.333vw;
    left: calc(100% + 4vw);
    height: 0.267vw;
    width: 6.667vw;
    background-size: 16vw auto;
    z-index: -1;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper {
    padding: 0 0 0 9.333vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet {
    width: 100%;
    height: 88vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet span {
    top: 3.467vw;
    left: 30.667vw;
    font-size: 14.4vw;
    z-index: 9;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet strong {
    top: 20vw;
    left: 3.733vw;
    font-size: 5.333vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .planet-wrapper .planet img {
    width: 26.667vw;
    top: 0;
    left: 0;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container {
    padding: 0;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item {
    margin-top: 26.667vw;
    width: 100%;
    padding: 0 0 0 12.267vw;
  }
  body .wrapper .vision .vision__sticky .vision__content .container__stage .vision__descripcion-container .descripcion-item p {
    font-size: 4.533vw;
  }
  body .wrapper .tokenomics {
    overflow: hidden;
  }
  body .wrapper .tokenomics .tokenomics__container {
    padding: 9.6vw 4vw 0 4vw;
    height: 288.667vw;
  }
  body .wrapper .tokenomics .tokenomics__container::after {
    background-image: url(../img/tokenomics/slider-bg-mobile.png);
    background-size: 105.6vw auto;
    left: -3.2vw;
    top: 79.2vw;
    width: 100vw;
    height: 162.667vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block #c2 {
    right: 0;
    left: auto;
    top: 157.867vw;
    width: 64vw;
    height: 100vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__title {
    font-size: 8.533vw;
    line-height: 10.933vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider {
    top: 159vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 8.8vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5.6vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button {
    -webkit-transform: translateY(26.667vw);
            transform: translateY(26.667vw);
    gap: 2.667vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .prev {
    width: 10.933vw;
    height: 10.933vw;
    border: 0.267vw solid #ffffff;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .prev:hover {
    border: 0.267vw solid #0342e7;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .prev img {
    width: 1.867vw;
    height: auto;
    -webkit-transform: rotate(180deg) translateX(0);
            transform: rotate(180deg) translateX(0);
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .next {
    width: 10.933vw;
    height: 10.933vw;
    border: 0.267vw solid #ffffff;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .next:hover {
    border: 0.267vw solid #0342e7;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider__button .next img {
    width: 1.867vw;
    height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container {
    width: 56.533vw;
    height: 83.2vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item {
    width: auto;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item h3 {
    font-size: 5.333vw;
    line-height: 8vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item p {
    margin: 6.4vw 0 0 0;
    font-size: 4.8vw;
    line-height: 6.933vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.active h3 {
    -webkit-animation: 1s tokenomics-slide-title-active forwards;
            animation: 1s tokenomics-slide-title-active forwards;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.prev h3 {
    -webkit-animation: 1s tokenomics-slide-title-prev forwards;
            animation: 1s tokenomics-slide-title-prev forwards;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.active-reverse h3 {
    -webkit-animation: 1s tokenomics-slide-title-prev forwards;
            animation: 1s tokenomics-slide-title-prev forwards;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__left-block .tokenomics__slider .tokenomics__slider-item-container .slider-item.next h3 {
    -webkit-animation: 1s tokenomics-slide-title-next forwards;
            animation: 1s tokenomics-slide-title-next forwards;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__right-block {
    top: 29.733vw;
    left: -10.4vw;
    gap: 5.6vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__right-block .tokenomics__items-container {
    gap: 5.6vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__right-block .tokenomics__items-container .tokenomics__items {
    -webkit-transform: translateX(2.133vw);
            transform: translateX(2.133vw);
    gap: 3.2vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__right-block .tokenomics__items-container .tokenomics__items h4 {
    font-size: 3.2vw;
    line-height: 4vw;
    -webkit-transform: translateY(0.8vw);
            transform: translateY(0.8vw);
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__right-block .tokenomics__items-container .tokenomics__items span {
    font-size: 4vw;
    line-height: 5.067vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__right-block img {
    position: absolute;
    left: 0;
    top: 0;
    width: 98.667vw;
  }
  body .wrapper .tokenomics .tokenomics__container .tokenomics__right-block .tokenomics__background-title {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -6.4vw;
    left: 87.2vw;
    right: 0;
    font-size: 11.2vw;
    line-height: 14.4vw;
  }
  body .wrapper .partners {
    padding: 0 4vw 19.667vw 4vw;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (18.667vw)[7];
        grid-template-rows: repeat(7, 18.667vw);
    grid-gap: 3.2vw;
  }
  body .wrapper .partners .partners__title {
    font-size: 8.533vw;
    line-height: 10.933vw;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -webkit-transform: translateY(4.267vw);
            transform: translateY(4.267vw);
  }
  body .wrapper .partners .partners__descripcion {
    display: none;
  }
  body .wrapper .partners .partners__gris-item:nth-child(3) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  body .wrapper .partners .partners__gris-item:nth-child(4) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  body .wrapper .partners .partners__gris-item:nth-child(5) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  body .wrapper .partners .partners__gris-item:nth-child(6) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  body .wrapper .partners .partners__gris-item:nth-child(7) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  body .wrapper .partners .partners__gris-item:nth-child(8) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  body .wrapper .partners .partners__gris-item:nth-child(10) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  body .wrapper .partners .partners__gris-item:nth-child(11) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  body .wrapper .partners .partners__gris-item:nth-child(12) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  body .wrapper .partners .partners__gris-item:nth-child(13) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  body .wrapper .partners .partners__gris-item:nth-child(14) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  body .wrapper .partners .partners__gris-item:nth-child(15) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  body .wrapper .partners .partners__gris-item:nth-child(16) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  body .wrapper .partners .partners__gris-item:nth-child(18) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  body .wrapper .partners .partners__gris-item:nth-child(19) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  body .wrapper .partners span {
    display: none;
  }
  body .wrapper .partners .partners__gris-item-strong {
    font-size: 3.733vw;
    line-height: 4.8vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-column-end: 3;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-transform: translateX(31.733vw);
            transform: translateX(31.733vw);
  }
  body .wrapper .partners .partners__gris-item-strong img {
    width: 18.133vw;
    margin: 0 2.667vw 0 0;
  }
  body .wrapper .media-about .media-about_container h3 {
    font-size: 4.533vw;
    line-height: 6.933vw;
    -webkit-transform: translateY(-18.667vw);
            transform: translateY(-18.667vw);
  }
  body .wrapper .media-about .media-about_container h3::after {
    width: 0.267vw;
    height: 8.533vw;
    border-left: dashed 0.267vw white;
    -webkit-transform: translateY(1.067vw);
            transform: translateY(1.067vw);
  }
  body .wrapper .media-about .media-about_container::before {
    font-size: 3.2vw;
    line-height: 4vw;
    right: 4vw;
    -webkit-transform: translateY(-8vw);
            transform: translateY(-8vw);
  }
  body .wrapper .media-about .media-about_container .media-about-slider {
    height: 28.267vw;
  }
  body .wrapper .media-about .media-about_container .media-about-slider .media-about-wrapper .media-about-slide {
    width: 28.85vw !important;
    height: 13.867vw;
    margin-right: 2.667vw !important;
  }
  body .wrapper .contacts .footer__background {
    width: 157.067vw;
    right: -45.333vw;
  }
  body .wrapper .contacts .contacts__container {
    padding: 22vw 4.267vw 0 4vw;
  }
  body .wrapper .contacts .contacts__container .contacts__title {
    font-size: 8.533vw;
    line-height: 10.933vw;
  }
  body .wrapper .contacts .contacts__container .footer-contact {
    margin: 10.667vw 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10.667vw;
  }
  body .wrapper .contacts .contacts__container .footer-contact .footer-contact__item {
    padding: 7.467vw 0 0 7.467vw;
    width: 91.467vw;
  }
  body .wrapper .contacts .contacts__container .footer-contact .footer-contact__item::before {
    width: 4.8vw;
    height: 4.8vw;
    border-top: 0.267vw solid #ffffff;
    border-left: 0.267vw solid #ffffff;
  }
  body .wrapper .contacts .contacts__container .footer-contact .footer-contact__item strong {
    font-size: 5.333vw;
    line-height: 8vw;
  }
  body .wrapper .contacts .contacts__container .footer-contact .footer-contact__item p {
    font-size: 4.533vw;
    line-height: 6.933vw;
    margin: 2.133vw 0 0 0;
  }
  body .wrapper .contacts .contacts__container .footer-contact .footer-contact__item a {
    padding: 0 0 1.333vw 9.067vw;
    font-size: 5.333vw;
    line-height: 8vw;
    background-size: 5.6vw 3.733vw;
  }
  body .wrapper .contacts .contacts__container .footer-contact .footer-contact__item a:hover span {
    border-bottom: 0.267vw solid #cb24ff;
  }
  body .wrapper .contacts .contacts__container .footer-contact .footer-contact__item a span {
    line-height: 8vw;
    padding-bottom: 1.333vw;
    border-bottom: 0.267vw solid rgba(203, 36, 255, 0.2);
  }
  body .wrapper .contacts .contacts__container .foorer__container {
    margin: 16.533vw 0 0 0;
    padding: 0vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .footer-subscribe__linkblock span {
    width: 18.667vw;
    font-size: 4.533vw;
    line-height: 6.4vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .footer-subscribe__linkblock .footer-subscribe__link {
    width: 34.133vw;
    height: 34.133vw;
    border: 0.267vw solid #fff;
    font-size: 3.2vw;
    line-height: 4vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .footer-subscribe__linkblock .footer-subscribe__link::before {
    top: 7.2vw;
    left: 2.133vw;
    width: 14.933vw;
    height: 3.467vw;
    background-size: 14.933vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .footer-subscribe__linkblock .footer-subscribe__link svg {
    width: 3.733vw;
    height: auto;
    padding: 1.6vw;
    bottom: 5.067vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block {
    margin: 21.867vw 0 0 0;
    width: 92vw;
    height: 55.2vw;
    padding: 6.933vw 7.467vw 7.467vw 7.467vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block strong {
    font-size: 5.333vw;
    line-height: 6.933vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block span {
    margin: 1.333vw 0 0 0;
    font-size: 4vw;
    line-height: 5.067vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: left;
    font-size: 4.8vw;
    line-height: 5.867vw;
    margin: 3.2vw 0 0 0;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container {
    margin: 7.2vw 0 0 0;
    gap: 7.2vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container input {
    font-size: 4.267vw;
    line-height: 5.067vw;
    border-radius: 0;
    border-bottom: 0.267vw solid #fff;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container input::-webkit-input-placeholder {
    -webkit-transform: translateY(-1.333vw);
            transform: translateY(-1.333vw);
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container input:-ms-input-placeholder {
    transform: translateY(-1.333vw);
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container input::-ms-input-placeholder {
    transform: translateY(-1.333vw);
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container input::placeholder {
    -webkit-transform: translateY(-1.333vw);
            transform: translateY(-1.333vw);
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container button {
    width: 11.733vw;
    height: 11.733vw;
  }
  body .wrapper .contacts .contacts__container .foorer__container .header-subscribe__block .form__container button img {
    width: 4.267vw;
  }
  canvas.touch {
    -ms-touch-action: none !important;
        touch-action: none !important;
  }
  canvas#c3 {
    height: calc(100% + 50vw);
  }
}
/*# sourceMappingURL=600.css.map */