@keyframes nft-gradient-text {
  0% {
    background-position: -640px;
  }
  70% {
    background-position: 640px;
  }
  100% {
    background-position: 640px;
  }
}
@keyframes main-button-1 {
  0% {
    top: -41px;
    left: -64px;
  }
  33% {
    top: 36px;
    left: 36px;
  }
  66% {
    top: -39px;
    left: -80px;
  }
  100% {
    top: -41px;
    left: -64px;
  }
}
@keyframes main-button-2 {
  0% {
    top: 30px;
    left: -17px;
  }
  33% {
    top: 11px;
    left: 68px;
  }
  66% {
    top: 61px;
    left: 34px;
  }
  100% {
    top: 30px;
    left: -17px;
  }
}

@keyframes main__smoke-buttom3 {
  0% {
    top: 385px;
    left: 39px;
  }
  33% {
    top: 365px;
    left: 206px;
  }
  66% {
    top: 213px;
    left: 39px;
  }
  100% {
    top: 385px;
    left: 39px;
  }
}
@keyframes main__smoke-top2 {
  0% {
    top: -118px;
    left: 1744px;
  }
  50% {
    top: -138.47px;
    left: 1427px;
  }
  100% {
    top: -118px;
    left: 1744px;
  }
}
@keyframes main__smoke-buttom2 {
  0% {
    top: -45px;
    left: 719px;
  }
  33% {
    top: -65.53px;
    left: 946px;
  }
  66% {
    top: 79px;
    left: 719px;
  }
  100% {
    top: -45px;
    left: 719px;
  }
}
@keyframes main__smoke-buttom {
  0% {
    top: -261px;
    left: 939px;
  }
  33% {
    top: -281px;
    left: 664px;
  }
  66% {
    top: -281px;
    left: 567px;
  }
  100% {
    top: -261px;
    left: 939px;
  }
}
@keyframes main__smoke-top {
  0% {
    top: -82px;
    left: 1276px;
  }
  33% {
    top: -102px;
    left: 958px;
  }
  66% {
    top: -256px;
    left: 1276px;
  }
  100% {
    top: -82px;
    left: 1276px;
  }
}

@keyframes triangle-purple {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes triangle-blue {
  0% {
    opacity: 1;
    transform: scale(0.65) translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes city {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes triangle-blue-active {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes triangle-purple-active {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translate(40px, -50px);
  }
  50% {
    transform: translate(0px, -50px);
  }

  75% {
    transform: translate(-40px, -50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes about-subtract {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes features-arrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

* {
  box-sizing: border-box;
}
body {
  background-color: #0b0b0c;
  &.active {
    overflow: hidden;
  }
  .wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    .background {
      height: 1120px;
      width: 100%;
      position: absolute;
      top: -28px;
      left: 50px;
      overflow: hidden;
      .main__smoke-buttom3 {
        position: absolute;
        width: 1056px;
        left: 39px;
        top: 385px;
        bottom: 40px;
        animation: main__smoke-buttom3 30s linear infinite;
      }
      .main__smoke-top2 {
        position: absolute;
        top: -118px;
        left: 1744px;
        width: 887px;
        animation: main__smoke-top2 30s linear infinite;
      }
      .main__smoke-buttom2 {
        position: absolute;
        top: -45px;
        left: 719px;
        width: 1447px;
        animation: main__smoke-buttom2 40s linear infinite;
      }
      .main__smoke-buttom {
        position: absolute;
        top: -261px;
        left: 939px;
        width: 1508px;
        animation: main__smoke-buttom 40s linear infinite;
      }
      .main__smoke-top {
        position: absolute;
        left: 1276px;
        top: -82px;
        width: 890px;
        animation: main__smoke-top 40s linear infinite;
      }
      .main__man {
        position: absolute;
        width: 2230px;
        top: 136px;
        left: 273px;
      }
      .purple-triangle {
        position: absolute;
        top: -234px;
        left: 936px;
        width: 859px;
        z-index: 1;
        opacity: 0;
        animation: 1s triangle-purple 1.5s linear forwards,
          12s triangle-purple-active 3.5s linear infinite;
      }
      .blue-triangle {
        position: absolute;
        top: 119px;
        left: 1072px;
        z-index: 1;
        opacity: 0;
        animation: 1s triangle-blue 2.5s linear forwards,
          12s triangle-blue-active 3.5s linear infinite;
      }
      .city {
        position: absolute;
        top: 0;
        top: 45px;
        left: 1020px;
        opacity: 0;
        animation: 1s city 1.5s linear forwards;
      }
    }
    .header {
      .header-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 28px;
        left: 92px;
        color: #fff;
        position: absolute;
        gap: 24px;
        z-index: 100;
        strong {
          font-family: "Akzidenz-Grotesk Pro", sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 25px;
          transition: color 0.2s ease-in;
        }
        span {
          font-family: "Barlow", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #4e5465;
        }
      }
      .header-name {
        &.active {
          position: fixed;
          strong {
            color: #0b0b0c;
          }
          span {
            color: #9598a3;
          }
        }
      }
      .header-inner {
        z-index: 99;
        top: 0;
        left: 0;
        background: #0b0b0c url(img/bg-site.png);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 64px;
        height: 100%;
        position: fixed;
        color: #fff;
        transition: 0.2s;
        .header-logo {
          display: block;
          width: 100%;
          height: 64px;
          position: relative;
          cursor: pointer;
          background-image: url(../img/header/background-logo.svg);
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: #0b0b0c 1px solid;
          img {
            width: 41px;
          }
        }
        .header-button {
          flex-grow: 1;
          background: none;
          border: 1px solid #3a3a3a;
          border-left: 0;
          border-top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: 0.2s ease-out;
          gap: 6px;
          overflow: hidden;
          position: relative;
          &.active {
            border-right-color: #0342e7;
            border-bottom-color: #0342e7;

            &::after {
              width: 100%;
              transform: translateX(0);
            }
            span {
              transition: transform 0.6s ease-out;
              margin: 0;
              position: absolute;
              height: 30px;
              &:first-child {
                transform: rotateZ(-45deg);
              }
              &:last-child {
                transform: rotateZ(45deg);
              }
            }
          }
          &::after {
            content: "";
            display: inline-block;
            transform: translateX(100%);
            height: 100%;
            width: 0%;
            background-color: #fff;
            background: #0342e7;
            left: 0;
            top: 0;
            transition: width 0s linear 0.3s, transform 0.3s ease-out;
            position: absolute;
            z-index: -1;
          }
          &:hover {
            border-color: #0342e7;
            gap: 4px;
          }
          &:hover:after {
            transition: width 0s linear, transform 0.3s ease-out;
            width: 100%;
            transform: translateX(0);
          }
          span {
            transition: transform 0.6s ease-out;
            transform-origin: center;
            width: 2px;
            height: 40px;
            display: block;
            background-color: #fff;
          }
        }
        .header-list {
          margin: 0;
          padding: 30px 0;
          text-align: center;
          border-right: 1px solid #3a3a3a;
          display: flex;
          flex-direction: column;
          gap: 30px;
          .header-list__item {
            display: block;
            img {
              filter: saturate(0) brightness(0) invert(1);
              transition: 0.3s;
            }
            &:hover img {
              filter: none;
              transition: 0.3s;
            }
          }
        }
        &:hover {
          width: 70px;
          transition: 0.2s;
        }
      }
      .header-content {
        overflow: hidden;
        position: fixed;
        z-index: 98;
        height: 100%;
        transform: translateX(-150%);
        transition: 0.6s ease-out;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          transform: translate(0);
        }
        .header-content__inner {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 70px;
          .header-content__nav {
            margin: 36px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            counter-reset: section;
            gap: 40px;
            flex-grow: 1;
            a {
              transition: 0.3s ease-out;
              color: #0b0b0c;
              text-decoration: none;
              font-size: 42px;
              font-family: "Barlow", sans-serif;
              position: relative;
              padding-left: 41px;
              &::before {
                position: absolute;
                padding-top: 10px;
                padding-bottom: 4px;
                width: 41px;
                font-family: "PF Din Display Pro", sans-serif;
                font-weight: 300;
                font-size: 16px;
                content: "0" counter(section);
                counter-increment: section;
                transition: 0.2s ease-out;
                top: 0;
                left: 0;
                transform: translateY(0);
              }
              &:hover {
                color: #0048ff;
                &::before {
                  top: 100%;
                  transform: translateY(-100%);
                  color: #0342e7;
                  font-weight: 400;
                }
              }
            }
          }
          .header-contact {
            display: flex;
            justify-content: space-between;
            gap: 80px;
            .header-contact__item {
              padding: 43px 0 0 43px;
              position: relative;
              width: 440px;
              display: flex;
              flex-direction: column;
              &::before {
                content: "";
                position: absolute;
                width: 35px;
                height: 35px;
                border-top: 1px solid #0b0b0c;
                border-left: 1px solid #0b0b0c;
                left: 0;
                top: 0;
              }
              strong {
                font-family: "Akzidenz-Grotesk Pro", sans-serif;
                font-size: 28px;
                line-height: 38px;
                font-weight: 700;
                text-transform: uppercase;
              }
              p {
                font-family: "Barlow", sans-serif;
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
                margin: 15px 0 0 0;
              }
              a {
                margin-top: auto;
                display: inline-block;
                padding: 0 0 7px 36px;
                color: #cb24ff;
                font-family: "Barlow", sans-serif;
                font-size: 24px;
                text-decoration: none;
                background: url(../img/header/mail-icon.svg) left center
                  no-repeat;
                background-size: 21px 14px;
                margin: 25px 0 0 0;
                &:hover {
                  span {
                    border-bottom: 1px solid #cb24ff;
                  }
                }
                span {
                  line-height: 30px;
                  padding-bottom: 5px;
                  border-bottom: 1px solid rgba(203, 36, 255, 0.2);
                  transition: 0.2s ease-in;
                }
              }
            }
          }
          .header-subscribe {
            position: absolute;
            right: 260px;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 68px;
            .header-subscribe__plane {
              width: 446px;
            }
            .header-subscribe__block {
              width: 562px;
              padding: 40px 40px 45px 40px;
              color: #fff;

              display: flex;
              flex-direction: column;
              background: radial-gradient(
                  90.75% 78.93% at 40.93% 85.95%,
                  rgba(3, 66, 231, 0.9) 0%,
                  rgba(3, 66, 231, 0) 100%
                ),
                radial-gradient(
                  86.4% 76.86% at 0% 7.02%,
                  rgba(22, 169, 254, 0.95) 0%,
                  rgba(22, 169, 254, 0) 100%
                ),
                #cb24ff;
              strong {
                font-family: "Akzidenz-Grotesk Pro", sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 36px;
                text-transform: uppercase;
              }
              span {
                margin: 5px 0 0 0;
                font-family: "Akzidenz-Grotesk Pro", sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                text-transform: uppercase;
              }
              .form__container {
                margin: 40px 0 0 0;
                display: flex;
                justify-content: space-between;
                gap: 20px;
                input {
                  font-size: 18px;
                  font-family: "Barlow", sans-serif;
                  font-weight: 500;
                  color: #fff;
                  background: none;
                  border: 0;
                  border-bottom: 1px solid #fff;
                  width: 100%;
                  &::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                  }
                }
                button {
                  flex-shrink: 0;
                  border: none;
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: transform 0.15s linear;
                  &:hover {
                    transform: scale(1.05);
                  }
                }
              }
            }
          }
        }
      }
    }

    .container {
      width: 1400px;
      margin: 0 auto;
      .main {
        height: 1121px;
        padding: 233px 0 0 0;
        .main-info {
          color: #fff;
          display: flex;
          flex-direction: column;

          .main-info__text {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            align-items: flex-start;
            span {
              font-family: "Akzidenz-Grotesk Pro", sans-serif;
              font-weight: 500;
              font-size: 38px;
              line-height: 48px;
              display: block;
              position: relative;
              &::before {
                content: "";
                display: inline-block;
                width: 33px;
                height: 33px;
                position: absolute;
                border: 1px solid #fff;
              }
              &.main-first-span {
                &::before {
                  border-left: 0;
                  border-bottom: 0;
                  left: 100%;
                  top: -27px;
                  transform: translateX(20px);
                }
              }
              &.main-second-span {
                margin-left: 157px;
                &::before {
                  border-top: 0;
                  border-right: 0;
                  left: -63px;
                  bottom: 9px;
                }
              }
            }
            strong {
              font-family: "Akzidenz-Grotesk Pro", sans-serif;
              font-size: 90px;
              font-weight: 700;
            }
            b {
              font-weight: 500;
              font-size: 55px;
              line-height: 70px;
              font-family: "Akzidenz-Grotesk Pro", sans-serif;
              margin-bottom: 26px;
              display: block;
              background: radial-gradient(
                  50.1% 194.12% at 0% 0%,
                  #16a9fe 0%,
                  rgba(22, 169, 254, 0) 100%
                ),
                radial-gradient(
                    43.79% 213.24% at 35.23% 88.24%,
                    #0342e7 0%,
                    #cb24ff 100%
                  )
                  #fff;
              background-repeat: no-repeat;
              background-position: -640px;
              animation: nft-gradient-text 6s linear infinite;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          .main-info__bottom {
            display: flex;
            align-items: center;
            gap: 164px;
            margin: 60px 0 0 156px;
            z-index: 10;
            p {
              font-family: "Barlow", sans-serif;
              font-weight: 400;
              font-size: 24px;
              line-height: 34px;
            }
            button {
              background-color: #0342e7;
              font-family: "Akzidenz-Grotesk Pro", sans-serif;
              font-weight: 700;
              font-size: 16px;
              width: 200px;
              height: 200px;
              position: relative;
              border: 0;
              border-radius: 50%;
              overflow: hidden;
              flex-shrink: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: transform 0.3s ease-out;
              &::before {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                opacity: 1;
                transition: opacity 0.3s ease-out;
                content: url(../img/main/btn-bg-1.svg);
                width: 311px;
                height: 191px;
                left: -64px;
                top: -41px;
                animation: main-button-1 4s linear infinite;
              }
              &::after {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                opacity: 1;
                transition: opacity 0.3s ease-out;
                content: url(../img/main/btn-bg-2.svg);
                width: 139px;
                height: 139px;
                top: 30px;
                left: -17px;
                animation: main-button-2 4s linear infinite;
              }
              &:hover {
                transform: scale(0.91);
                &::before,
                &::after {
                  animation-play-state: pause;
                  opacity: 0;
                }
              }
              span {
                position: relative;
                z-index: 1;
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                font-family: "Akzidenz-Grotesk Pro", sans-serif;
              }
              img {
                width: 22px;
                position: absolute;
                bottom: 38px;
                z-index: 1;
              }
            }
          }
        }
      }

      .about {
        padding: 30px 0 350px 0;
        .about-text {
          font-family: "Barlow", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 48px;
          line-height: 58px;
          color: #ffffff;
          text-indent: 186px;
          max-width: 928px;
          span {
            background: radial-gradient(
                50.1% 194.12% at 0% 0%,
                #16a9fe 0%,
                rgba(22, 169, 254, 0) 100%
              ),
              radial-gradient(
                43.79% 213.24% at 35.23% 88.24%,
                #0342e7 0%,
                #cb24ff 100%
              );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-emphasis-color: transparent;
          }
        }
        .about__flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 140px 0 0 200px;
          .about-blocktext {
            padding: 10px;
            box-sizing: content-box;
            font-family: "Barlow";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            color: #ffffff;
            max-width: 406px;
            position: relative;
            &::before {
              content: "";
              border: 1px solid #fff;
              width: 32px;
              height: 32px;
              position: absolute;
              top: -30px;
              left: 100%;
              border-left: 0;
              border-bottom: 0;
            }
            &::after {
              content: "";
              border: 1px solid #fff;
              width: 32px;
              height: 32px;
              position: absolute;
              right: 100%;
              top: 100%;
              border-top: 0;
              border-right: 0;
            }
          }
          .about-circle {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 135px 0 0;
            img {
              width: 197px;
            }
            &::before {
              content: "";
              width: 380px;
              height: 380px;
              background-image: url(../img/about/about-subtract.svg);
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: rotate(0) translate(-50%, -50%);
              animation: 16s about-subtract linear infinite;
            }
            &::after {
              content: "";
              width: 470px;
              height: 470px;
              background-image: url(../img/about/about-circle-arrow.svg);
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: rotate(0) translate(-50%, -50%);
              animation: 16s about-subtract linear infinite reverse;
            }
          }
        }
      }
      .features {
        position: relative;
        height: 1000px;
        .features__wrapper-circle {
          transition: 0.3s;
          position: absolute;
          .features__container-circle {
            padding-right: 37px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
            position: relative;
            width: 220px;
            transition: 0.3s;
            &:hover {
              width: 363px;
              transition: 0.3s;
              transform: translateX(-118px);
              padding-right: 92px;
              .features-circle {
                width: 152px;
                height: 152px;
                top: -50px;
                transform: rotate(-90deg);
                transition: 0.3s;
              }
              .features-arrow {
                opacity: 0;
                transition: 0.3s;
              }
              h3 {
                font-size: 18px;
                line-height: 34px;
                transition: 0.3s;
              }
              p {
                opacity: 1;
                font-size: 18px;
                line-height: 26px;
                font-weight: 300;
              }
            }
            .features-circle {
              width: 58px;
              height: 58px;
              position: absolute;
              right: 0;
              top: 0;
              z-index: -1;
              transition: 0.3s;
              border-radius: 50%;
              background: radial-gradient(
                  77.65% 71.55% at 29.31% 28.45%,
                  rgba(3, 66, 231, 0.4) 0%,
                  rgba(3, 66, 231, 0) 56.25%
                ),
                linear-gradient(
                  45deg,
                  rgba(11, 11, 12, 0.99) 18.73%,
                  rgba(11, 11, 12, 0.92) 29.92%,
                  rgba(11, 11, 12, 0) 100%
                ),
                radial-gradient(
                  114.08% 110.65% at 50% 101.15%,
                  #0342e7 23.25%,
                  #cb24ff 65.07%
                );
              z-index: 1;
            }
            .features-arrow {
              margin: 0 35px 0 0;
              width: 8px;
              z-index: 0;
              animation: features-arrow 1.7s linear infinite;
            }
            h3 {
              font-family: "Akzidenz-Grotesk Pro";
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 34px;
              text-transform: uppercase;
              color: #ffffff;
              z-index: 2;
              transition: 0.3s;
            }
            p {
              font-family: "Barlow";
              font-style: normal;
              font-size: 1px;
              line-height: 2px;
              font-weight: 3;
              color: #ffffff;
              opacity: 0;
              transition: 0.3s;
              z-index: 2;
            }
          }
        }
        .features-customization {
          top: 197px;
          left: 26px;
        }
        .features-control {
          left: 451px;
          top: 160px;
        }
        .features-utility {
          left: 802px;
          top: 233px;
        }
        .features-creativity {
          left: 1178px;
          top: 107px;
        }
        .features-redeem {
          top: 369px;
          left: 217px;
        }
        .features-service {
          top: 558px;
          left: 3px;
        }
        .features-royalties {
          top: 558px;
          left: 405px;
        }
        .features-streams {
          top: 747px;
          left: 218px;
        }
      }
    }
  }
}
