@-webkit-keyframes nft-gradient-text {
  0% {
    background-position: -640px;
  }
  70% {
    background-position: 640px;
  }
  100% {
    background-position: 640px;
  }
}

@keyframes nft-gradient-text {
  0% {
    background-position: -640px;
  }
  70% {
    background-position: 640px;
  }
  100% {
    background-position: 640px;
  }
}

@-webkit-keyframes main-button-1 {
  0% {
    top: -41px;
    left: -64px;
  }
  33% {
    top: 36px;
    left: 36px;
  }
  66% {
    top: -39px;
    left: -80px;
  }
  100% {
    top: -41px;
    left: -64px;
  }
}

@keyframes main-button-1 {
  0% {
    top: -41px;
    left: -64px;
  }
  33% {
    top: 36px;
    left: 36px;
  }
  66% {
    top: -39px;
    left: -80px;
  }
  100% {
    top: -41px;
    left: -64px;
  }
}

@-webkit-keyframes main-button-2 {
  0% {
    top: 30px;
    left: -17px;
  }
  33% {
    top: 11px;
    left: 68px;
  }
  66% {
    top: 61px;
    left: 34px;
  }
  100% {
    top: 30px;
    left: -17px;
  }
}

@keyframes main-button-2 {
  0% {
    top: 30px;
    left: -17px;
  }
  33% {
    top: 11px;
    left: 68px;
  }
  66% {
    top: 61px;
    left: 34px;
  }
  100% {
    top: 30px;
    left: -17px;
  }
}

@-webkit-keyframes main__smoke-buttom3 {
  0% {
    top: 385px;
    left: 39px;
  }
  33% {
    top: 365px;
    left: 206px;
  }
  66% {
    top: 213px;
    left: 39px;
  }
  100% {
    top: 385px;
    left: 39px;
  }
}

@keyframes main__smoke-buttom3 {
  0% {
    top: 385px;
    left: 39px;
  }
  33% {
    top: 365px;
    left: 206px;
  }
  66% {
    top: 213px;
    left: 39px;
  }
  100% {
    top: 385px;
    left: 39px;
  }
}

@-webkit-keyframes main__smoke-top2 {
  0% {
    top: -118px;
    left: 1744px;
  }
  50% {
    top: -138.47px;
    left: 1427px;
  }
  100% {
    top: -118px;
    left: 1744px;
  }
}

@keyframes main__smoke-top2 {
  0% {
    top: -118px;
    left: 1744px;
  }
  50% {
    top: -138.47px;
    left: 1427px;
  }
  100% {
    top: -118px;
    left: 1744px;
  }
}

@-webkit-keyframes main__smoke-buttom2 {
  0% {
    top: -45px;
    left: 719px;
  }
  33% {
    top: -65.53px;
    left: 946px;
  }
  66% {
    top: 79px;
    left: 719px;
  }
  100% {
    top: -45px;
    left: 719px;
  }
}

@keyframes main__smoke-buttom2 {
  0% {
    top: -45px;
    left: 719px;
  }
  33% {
    top: -65.53px;
    left: 946px;
  }
  66% {
    top: 79px;
    left: 719px;
  }
  100% {
    top: -45px;
    left: 719px;
  }
}

@-webkit-keyframes main__smoke-buttom {
  0% {
    top: -261px;
    left: 939px;
  }
  33% {
    top: -281px;
    left: 664px;
  }
  66% {
    top: -281px;
    left: 567px;
  }
  100% {
    top: -261px;
    left: 939px;
  }
}

@keyframes main__smoke-buttom {
  0% {
    top: -261px;
    left: 939px;
  }
  33% {
    top: -281px;
    left: 664px;
  }
  66% {
    top: -281px;
    left: 567px;
  }
  100% {
    top: -261px;
    left: 939px;
  }
}

@-webkit-keyframes main__smoke-top {
  0% {
    top: -82px;
    left: 1276px;
  }
  33% {
    top: -102px;
    left: 958px;
  }
  66% {
    top: -256px;
    left: 1276px;
  }
  100% {
    top: -82px;
    left: 1276px;
  }
}

@keyframes main__smoke-top {
  0% {
    top: -82px;
    left: 1276px;
  }
  33% {
    top: -102px;
    left: 958px;
  }
  66% {
    top: -256px;
    left: 1276px;
  }
  100% {
    top: -82px;
    left: 1276px;
  }
}

@-webkit-keyframes triangle-purple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes triangle-purple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes triangle-blue {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.65) translateY(-30px);
            transform: scale(0.65) translateY(-30px);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0.65) translateY(-30px);
            transform: scale(0.65) translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes triangle-blue {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.65) translateY(-30px);
            transform: scale(0.65) translateY(-30px);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0.65) translateY(-30px);
            transform: scale(0.65) translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@-webkit-keyframes city {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes city {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes triangle-blue-active {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes triangle-blue-active {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes triangle-purple-active {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
  }
  50% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  75% {
    -webkit-transform: translate(-40px, -50px);
            transform: translate(-40px, -50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes triangle-purple-active {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translate(40px, -50px);
            transform: translate(40px, -50px);
  }
  50% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  75% {
    -webkit-transform: translate(-40px, -50px);
            transform: translate(-40px, -50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes about-subtract {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes about-subtract {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0B0B0C;
}

body.active {
  overflow: hidden;
}

body .wrapper {
  width: 100%;
  position: relative;
}

body .wrapper .background {
  height: 1120px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

body .wrapper .background .main__smoke-buttom3 {
  position: absolute;
  width: 1056px;
  left: 39px;
  top: 385px;
  bottom: 40px;
  -webkit-animation: main__smoke-buttom3 30s linear infinite;
          animation: main__smoke-buttom3 30s linear infinite;
}

body .wrapper .background .main__smoke-top2 {
  position: absolute;
  top: -118px;
  left: 1744px;
  width: 887px;
  -webkit-animation: main__smoke-top2 30s linear infinite;
          animation: main__smoke-top2 30s linear infinite;
}

body .wrapper .background .main__smoke-buttom2 {
  position: absolute;
  top: -45px;
  left: 719px;
  width: 1447px;
  -webkit-animation: main__smoke-buttom2 40s linear infinite;
          animation: main__smoke-buttom2 40s linear infinite;
}

body .wrapper .background .main__smoke-buttom {
  position: absolute;
  top: -261px;
  left: 939px;
  width: 1508px;
  -webkit-animation: main__smoke-buttom 40s linear infinite;
          animation: main__smoke-buttom 40s linear infinite;
}

body .wrapper .background .main__smoke-top {
  position: absolute;
  left: 1276px;
  top: -82px;
  width: 890px;
  -webkit-animation: main__smoke-top 40s linear infinite;
          animation: main__smoke-top 40s linear infinite;
}

body .wrapper .background .main__man {
  position: absolute;
  width: 2230px;
  top: 136px;
  left: 273px;
}

body .wrapper .background .purple-triangle {
  position: absolute;
  top: -234px;
  left: 936px;
  width: 859px;
  z-index: 1;
  opacity: 0;
  -webkit-animation: 1.5s triangle-purple 1.5s linear forwards, 12s triangle-purple-active 6.5s linear infinite;
          animation: 1.5s triangle-purple 1.5s linear forwards, 12s triangle-purple-active 6.5s linear infinite;
}

body .wrapper .background .blue-triangle {
  position: absolute;
  top: 119px;
  left: 1072px;
  z-index: 1;
  opacity: 0;
  -webkit-animation: 3s triangle-blue 3.5s linear forwards, 12s triangle-blue-active 6.5s linear infinite;
          animation: 3s triangle-blue 3.5s linear forwards, 12s triangle-blue-active 6.5s linear infinite;
}

body .wrapper .background .city {
  position: absolute;
  top: 0;
  top: 45px;
  left: 1020px;
  opacity: 0;
  -webkit-animation: 1s city 2.5s linear forwards;
          animation: 1s city 2.5s linear forwards;
}

body .wrapper .header .header-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 28px;
  left: 96px;
  color: #fff;
  position: absolute;
  gap: 20px;
  z-index: 100;
}

body .wrapper .header .header-name strong {
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

body .wrapper .header .header-name span {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #616161;
}

body .wrapper .header .header-name.active {
  position: fixed;
}

body .wrapper .header .header-name.active strong {
  color: #000;
}

body .wrapper .header .header-inner {
  z-index: 99;
  top: 0;
  left: 0;
  background: #0B0B0C url(img/bg-site.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 64px;
  height: 100%;
  position: fixed;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .wrapper .header .header-inner .header-logo {
  display: block;
  width: 100%;
  height: 64px;
  position: relative;
  cursor: pointer;
}

body .wrapper .header .header-inner .header-logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

body .wrapper .header .header-inner .header-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: none;
  border: 1px solid #3a3a3a;
  border-left: 0;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  gap: 6px;
  overflow: hidden;
  position: relative;
}

body .wrapper .header .header-inner .header-button.active {
  border-right-color: #0342e7;
  border-bottom-color: #0342e7;
  border-top: 1px solid #0B0B0C;
}

body .wrapper .header .header-inner .header-button.active::after {
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body .wrapper .header .header-inner .header-button.active span {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  margin: 0;
  position: absolute;
  height: 30px;
}

body .wrapper .header .header-inner .header-button.active span:first-child {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

body .wrapper .header .header-inner .header-button.active span:last-child {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

body .wrapper .header .header-inner .header-button::after {
  content: "";
  display: inline-block;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: 100%;
  width: 0%;
  background-color: #fff;
  background: #0342e7;
  left: 0;
  top: 0;
  -webkit-transition: width 0s linear 0.3s, -webkit-transform 0.3s ease-out;
  transition: width 0s linear 0.3s, -webkit-transform 0.3s ease-out;
  transition: width 0s linear 0.3s, transform 0.3s ease-out;
  transition: width 0s linear 0.3s, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  position: absolute;
  z-index: -1;
}

body .wrapper .header .header-inner .header-button:hover {
  border-color: #0342e7;
  gap: 4px;
  border-top: 1px solid #0B0B0C;
}

body .wrapper .header .header-inner .header-button:hover:after {
  -webkit-transition: width 0s linear, -webkit-transform 0.3s ease-out;
  transition: width 0s linear, -webkit-transform 0.3s ease-out;
  transition: width 0s linear, transform 0.3s ease-out;
  transition: width 0s linear, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body .wrapper .header .header-inner .header-button span {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 2px;
  height: 40px;
  display: block;
  background-color: #fff;
}

body .wrapper .header .header-inner .header-list {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  border-right: 1px solid #3a3a3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

body .wrapper .header .header-inner .header-list .header-list__item {
  display: block;
}

body .wrapper .header .header-inner .header-list .header-list__item img {
  -webkit-filter: saturate(0) brightness(0) invert(1);
          filter: saturate(0) brightness(0) invert(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .wrapper .header .header-inner .header-list .header-list__item:hover img {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .wrapper .header .header-inner:hover {
  width: 70px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .wrapper .header .header-content {
  overflow: hidden;
  position: fixed;
  z-index: 98;
  height: 100%;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .header .header-content.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

body .wrapper .header .header-content .header-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 70px;
}

body .wrapper .header .header-content .header-content__inner .header-content__nav {
  margin: 36px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  counter-reset: section;
  gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .wrapper .header .header-content .header-content__inner .header-content__nav a {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #000;
  text-decoration: none;
  font-size: 42px;
  font-family: "Barlow", sans-serif;
  position: relative;
  padding-left: 41px;
}

body .wrapper .header .header-content .header-content__inner .header-content__nav a::before {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 4px;
  width: 41px;
  font-family: "PF Din Display Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  content: "0" counter(section);
  counter-increment: section;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .wrapper .header .header-content .header-content__inner .header-content__nav a:hover {
  color: #0048ff;
}

body .wrapper .header .header-content .header-content__inner .header-content__nav a:hover::before {
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #0342e7;
  font-weight: 400;
}

body .wrapper .header .header-content .header-content__inner .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
}

body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item {
  padding: 43px 0 0 43px;
  position: relative;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  left: 0;
  top: 0;
}

body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item strong {
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item p {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0 0 0;
}

body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item a {
  margin-top: auto;
  display: inline-block;
  padding-left: 36px;
  color: #cb24ff;
  font-family: Barlow-Medium, sans-serif;
  font-size: 20px;
  text-decoration: none;
  background: url(../img/header/mail-icon.svg) left center no-repeat;
  background-size: 21px 14px;
  margin: 25px 0 0 0;
}

body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item a:hover span {
  border-bottom: 1px solid #cb24ff;
}

body .wrapper .header .header-content .header-content__inner .header-contact .header-contact__item a span {
  line-height: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(203, 36, 255, 0.2);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe {
  position: absolute;
  right: 260px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 68px;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__plane {
  width: 446px;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block {
  width: 562px;
  padding: 40px 40px 45px 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: radial-gradient(60.45% 76.17% at -5.8% 40.18%, #16a9fe 0, rgba(22, 169, 254, 0) 100%), radial-gradient(101.15% 101.15% at 50% 101.15%, #0342e7 0, #cb24ff 53.65%);
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block strong {
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block span {
  margin: 5px 0 0 0;
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container input {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #fff;
  background: none;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 100%;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

body .wrapper .header .header-content .header-content__inner .header-subscribe .header-subscribe__block .form__container button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body .wrapper .container {
  width: 1400px;
  margin: 0 auto;
}

body .wrapper .container .main {
  height: 1121px;
  padding: 200px 0 0 0;
}

body .wrapper .container .main .main-info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .container .main .main-info .main-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .wrapper .container .main .main-info .main-info__text span {
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  display: block;
  position: relative;
}

body .wrapper .container .main .main-info .main-info__text span::before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 33px;
  position: absolute;
  border: 1px solid #fff;
}

body .wrapper .container .main .main-info .main-info__text span.main-first-span::before {
  border-left: 0;
  border-bottom: 0;
  left: 100%;
  top: -27px;
}

body .wrapper .container .main .main-info .main-info__text span.main-second-span {
  margin-left: 157px;
}

body .wrapper .container .main .main-info .main-info__text span.main-second-span::before {
  border-top: 0;
  border-right: 0;
  left: -63px;
  bottom: 9px;
}

body .wrapper .container .main .main-info .main-info__text strong {
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-size: 90px;
  font-weight: 700;
}

body .wrapper .container .main .main-info .main-info__text b {
  font-weight: 500;
  font-size: 55px;
  line-height: 70px;
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  margin-bottom: 26px;
  display: block;
  background: radial-gradient(60.45% 76.17% at -5.8% 40.18%, #16a9fe 0, rgba(22, 169, 254, 0) 100%), radial-gradient(101.15% 101.15% at 50% 101.15%, #0342e7 0, #cb24ff 53.65%) #fff;
  background-repeat: no-repeat;
  background-position: -640px;
  -webkit-animation: nft-gradient-text 6s linear infinite;
          animation: nft-gradient-text 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .wrapper .container .main .main-info .main-info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 164px;
  margin: 60px 0 0 156px;
  z-index: 10;
}

body .wrapper .container .main .main-info .main-info__bottom p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

body .wrapper .container .main .main-info .main-info__bottom button {
  background-color: #0342e7;
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 200px;
  position: relative;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

body .wrapper .container .main .main-info .main-info__bottom button::before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  content: url(../img/main/btn-bg-1.svg);
  width: 311px;
  height: 191px;
  left: -64px;
  top: -41px;
  -webkit-animation: main-button-1 4s linear infinite;
          animation: main-button-1 4s linear infinite;
}

body .wrapper .container .main .main-info .main-info__bottom button::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  content: url(../img/main/btn-bg-2.svg);
  width: 139px;
  height: 139px;
  top: 30px;
  left: -17px;
  -webkit-animation: main-button-2 4s linear infinite;
          animation: main-button-2 4s linear infinite;
}

body .wrapper .container .main .main-info .main-info__bottom button:hover {
  -webkit-transform: scale(0.91);
          transform: scale(0.91);
}

body .wrapper .container .main .main-info .main-info__bottom button:hover::before, body .wrapper .container .main .main-info .main-info__bottom button:hover::after {
  -webkit-animation-play-state: pause;
          animation-play-state: pause;
  opacity: 0;
}

body .wrapper .container .main .main-info .main-info__bottom button span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Akzidenz-Grotesk Pro", sans-serif;
}

body .wrapper .container .main .main-info .main-info__bottom button img {
  width: 22px;
  position: absolute;
  bottom: 38px;
  z-index: 1;
}

body .wrapper .container .about {
  padding: 10px 0 350px 0;
}

body .wrapper .container .about .about-text {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  text-indent: 186px;
  max-width: 928px;
}

body .wrapper .container .about .about-text span {
  background: radial-gradient(60.45% 76.17% at -5.8% 40.18%, #16a9fe 0%, rgba(22, 169, 254, 0) 100%), radial-gradient(101.15% 101.15% at 50% 101.15%, #0342e7 0%, #cb24ff 53.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

body .wrapper .container .about .about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 140px 0 0 200px;
}

body .wrapper .container .about .about__flex .about-blocktext {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  max-width: 406px;
  position: relative;
}

body .wrapper .container .about .about__flex .about-blocktext::before {
  content: "";
  border: 1px solid #fff;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -30px;
  left: 100%;
  border-left: 0;
  border-bottom: 0;
}

body .wrapper .container .about .about__flex .about-blocktext::after {
  content: "";
  border: 1px solid #fff;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 100%;
  top: 100%;
  border-top: 0;
  border-right: 0;
}

body .wrapper .container .about .about__flex .about-circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 135px 0 0;
}

body .wrapper .container .about .about__flex .about-circle img {
  width: 197px;
}

body .wrapper .container .about .about__flex .about-circle::before {
  content: "";
  width: 380px;
  height: 380px;
  background-image: url(../img/about/about-subtract.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(0) translate(-50%, -50%);
          transform: rotate(0) translate(-50%, -50%);
  -webkit-animation: 12s about-subtract linear infinite;
          animation: 12s about-subtract linear infinite;
}

body .wrapper .container .about .about__flex .about-circle::after {
  content: "";
  width: 470px;
  height: 470px;
  background-image: url(../img/about/about-circle-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(0) translate(-50%, -50%);
          transform: rotate(0) translate(-50%, -50%);
  animation: 12s about-subtract linear infinite reverse;
}

body .wrapper .container .features {
  position: relative;
  height: 1000px;
}

body .wrapper .container .features .features__container-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  background-image: url(../img/features/circle.svg);
  background-size: 58px 58px;
  background-position: right center;
  background-repeat: no-repeat;
  width: 306px;
  height: 58px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .wrapper .container .features .features__container-circle:hover {
  width: 363px;
  height: 178px;
  background-size: 152px 152px;
  -webkit-transition: .3s;
  transition: .3s;
}

body .wrapper .container .features .features__container-circle:hover img {
  margin: 100px 72px 0 0;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

body .wrapper .container .features .features__container-circle:hover h3 {
  font-size: 18px;
  line-height: 34px;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 100px 0 0;
}

body .wrapper .container .features .features__container-circle:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .wrapper .container .features .features__container-circle img {
  width: 8px;
  margin: 65px 72px 0 0;
}

body .wrapper .container .features .features__container-circle h3 {
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 36px 0 0;
  -webkit-transition: .3s;
  transition: .3s;
}

body .wrapper .container .features .features__container-circle p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  max-width: 270px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}
/*# sourceMappingURL=style.css.map */